<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一日游-后台登录</title>
<link href="../css/manage.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="loginTop-box"><img src="images/manageLogo.png" alt="一日游管理后台" /></div>
<div class="loginBg-box">
  <div class="loginBox">
    <div class="lable">
      <table align="center" cellpadding="0" cellspacing="0" width="320">
        <tr>
          <th>用户名：</th>
          <td><input class="input1" /></td>
        </tr>
        <tr>
          <th>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</th>
          <td><input class="input1" /></td>
        </tr>
        <tr>
          <th></th>
          <td><input type="radio" /> 请保存我的个人信息</td>
        </tr>
        <tr>
          <th></th>
          <td><a href="#" class="button1">登录</a></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="blank30"></div>
  <div class="M_foot">版权所有 © 2002-2012 <span class="color1">一日游</span>，并保留所有权利。</div>
</div>
</body>
</html>
