@charset "utf-8";
/* CSS Document */

/* ad */
.ad1 img{width:483px; height:257px;}
.ad2 img{width:260px; height:260px;}
.ad3 img{width:980px; height:250px;}

/* index */
.cable{padding-left:18px; font-size:12px; font-weight:normal;}
.cable a{padding-right:15px; color:#323232;}
/* 图片轮换js */
#iJS-pic{margin:6px 0 0 214px; width:766px; height:225px; overflow:hidden; position:relative;}
#iJS-pic-img ul{}
#iJS-pic-img ul li{width:766px; height:225px; opacity:0; top:0px; left:0px; position:absolute; filter:alpha(opacity:0);}
#iJS-pic-img ul li img{width:766px; height:225px;}
#iJS-pic-list{width:160px; right:0px; top:0px; z-index:1; position:absolute; height:225px;}
#iJS-pic-list ul{height:230px;}
#iJS-pic-list ul li{width:144px; height:32px; line-height:17px; overflow:hidden; text-align:center; padding:5px 8px; color:#323232; margin-bottom:4px; cursor:pointer; background:url(../images/touming2.png) no-repeat;}
#iJS-pic-list ul li.iJS-pic-list-hover{background:url(../images/ContIMG1.png) no-repeat 0 -64px; color:#fff; width:144px; height:32px;}
/* 图片轮换js over */
.i-box1{width:485px;}
.height1{height:257px; overflow:hidden;}
.i-box2{width:710px;}
.hotel-box{width:216px; padding:10px;}
.list-img-box-show a,.list-img-box-show a:hover,.list-img-box a,.list-img-box a:hover{display:block; text-decoration:none;}
.list-img-box-show img{width:216px; height:120px; display:block;}
.list-img-box-show .arr-up{display:block; background-position:0 -92px; width:15px; height:6px; margin:-6px 0 0 4px; position:relative; overflow:hidden;}
.list-img-box-show .img-box-item{background:#f1f1f1; width:208px; height:22px; line-height:22px; padding:0 5px 0 3px; color:#23ace1;}
.list-img-box-show .img-box-item:hover{color:#ff6600;}
.list-img-box-show .img-box-item span,.list-img-box .img-box-item span{float:right;}
.list-img-box .img-box-item{overflow:hidden; padding:0 5px 0 3px; color:#23ace1; width:208px; height:22px; line-height:22px;}
.list-img-box img{display:none;}
.list-img-box .arr-up{display:none; background-position:0 -92px; width:15px; height:6px; margin:-6px 0 0 4px; position:relative; overflow:hidden;}
/**/
.i-box3-img1,.i-box3-img2a,.i-box3-img2b,.i-box3-img3a,.i-box3-img3b-mr,.i-box3-img3b-m0,.i-box3-img4{position:relative;}
.i-box3-img1 p,.i-box3-img2a p,.i-box3-img2b p,.i-box3-img3a p,.i-box3-img3b-mr p,.i-box3-img3b-m0 p,.i-box3-img4 p{position:absolute; left:0; bottom:0; line-height:26px; height:26px; color:#fff; font-size:14px; font-weight:bold; width:100%; text-indent:10px; background:url(../../images/touming.png) no-repeat;}
.i-box3-img1{width:200px; margin-right:1px;}
.i-box3-img2{width:197px; margin:1px 1px 0 0;}
.i-box3-img2a{width:197px; height:126px;}
.i-box3-img2b{width:197px; height:127px;}
.i-box3-img2 span{height:1px; font-size:0; line-height:0; display:block;}
.i-box3-img3{width:395px; margin-right:1px;}
.i-box3-img3a{width:395px; height:128px;}
.i-box3-img3a img{margin-bottom:1px;}
.i-box3-img3b-mr{margin-right:1px;}
.i-box3-img4{width:183px;}
/**/
.i-box4{width:208px; background:#fff; margin:5px 0 5px 6px; padding:8px 15px; height:190px; overflow:hidden;}
/* 图片文字列表样式一 */
.listImg1{margin:10px 10px 0 10px; background:#f5f5f5; width:220px; height:110px; overflow:hidden;}
.listImg1 img{width:100px; height:70px; padding:10px 10px 0 10px; float:left;}
.listImg1 span{line-height:22px; padding:10px 10px 0 0; display:block;}
.listImg1 h4{line-height:25px; clear:both; padding:0 10px;}
.listImg1 h4 a{color:#404040;}
.list12{margin:0 12px;}
.list12 li{line-height:28px; height:28px; overflow:hidden;}
.list12 li span{float:right;}
/* 周边旅游 */
.around-title1{background:#fff7e7; border-top:3px solid #23ace1; padding:20px 30px; line-height:20px; font-size:16px; font-weight:bold; color:#323232;}
.around-img1,.around-img2,.around-img3{height:332px; overflow:hidden;}
.around-img1{width:269px;}
.around-img1 div{background:url(../../images/first.png) no-repeat top left; width:269px; height:80px; overflow:hidden;}
.around-img1 div h3,.around-img3 div h3{padding-left:65px; font-weight:bold; padding-right:10px; padding-top:5px;}
.around-img1 div h3 i,.around-img2 .around-img2a div h3 i,.around-img2 .around-img2b div h3 i,.around-img3 div h3 i{font-size:24px; font-weight:400;}
.around-img1 div p,.around-img3 div p{padding-left:65px;}
.around-img2{width:420px; margin-left:10px;}
.around-img2 .around-img2a,.around-img2 .around-img2b{width:420px;}
.around-img2 .around-img2a span img,.around-img2 .around-img2b span img{float:left; padding-right:10px;}
.around-img2 .around-img2a div{background:url(../../images/second.png) no-repeat top left; width:204px; height:151px; overflow:hidden;}
.around-img2 .around-img2a div h3,.around-img2 .around-img2b div h3{font-weight:bold; padding-top:10px; padding-left:65px;}
.around-img2 .around-img2a div p,.around-img2 .around-img2b div p{padding:25px 10px 0 10px;}
.around-img2 .around-img2b div{background:url(../../images/third.png) no-repeat top left; width:204px; height:151px; overflow:hidden;}
.around-img3{width:260px;}
.around-img3 div{background:url(../../images/four.png) no-repeat top left; width:269px; height:85px; overflow:hidden;}
.around-saixuan{padding:15px 30px 5px;}
.around-saixuan dl dt{color:#323232; line-height:20px; float:left; font-weight:bold;}
.around-saixuan dl dd {line-height:20px; float:left;}
.around-saixuan dl dd a{display:inline-block; padding:0px 8px; margin:0 5px 10px 0;}
.around-saixuan dl dd a:hover,.around-saixuan dl dd a.hove{ background:#f96d0c; color:#fff; font-weight:bold; text-decoration:none;}
.around-list{border-bottom:1px dashed #dddddd; padding:10px 20px; height:84px;}
.list-img{margin-right:15px; width:120px;}
.list-img img{border:1px solid #ddd; padding:3px; width:114px; height:74px;}
.list-introduction,.list-introduction2,.list-introduction-a{width:520px; padding-right:20px;} .list-introduction2{width:345px;}
.list-introduction-a{width:580px;}
.list-introduction h2,.list-introduction-a h2,.list-introduction2 h2{font-size:14px; line-height:40px; height:40px; overflow:hidden;}
.list-introduction p,.list-introduction-a p,.list-introduction2 p{line-height:25px; color:#323232; height:25px; overflow:hidden;}
.list-charge{width:auto; color:#e85e03; line-height:50px;}
.list-charge i{font-size:18px; font-weight:400;}
.list-integral{width:80px; line-height:50px;}
.list-caozuo{background-position:-80px -195px; width:86px; height:26px; margin-top:12px;}
.list-caozuo a{display:block; height:26px; line-height:78px; overflow:hidden;}
/* 产品列表 */
.productList-box1{width:786px;}
.productList-box2{width:182px;}
.productList-box2 dl{width:158px; margin:0 auto;}
.productList-box2 dl dt{color:#505050; font-weight:bold; background-position:0px -318px; width:158px; height:38px; line-height:38px; margin-top:8px;}
.productList-box2 dl dd a{line-height:24px; padding-right:10px; white-space:nowrap;}
.productList-box3{height:400px; margin-top:15px; position:relative; z-index:1;}
.productList-box3 img{width:430px; height:400px; float:left; padding:1px 0 0 2px;}
.productList-box3-title{position:absolute; left:0px; top:0px; background-position:0 -282px; padding:0 25px; height:30px; line-height:30px; font-size:14px; color:#fff; font-weight:bold;}
.productList-box3 .productList-box3-right{width:510px; padding:15px 20px 0 0;}
.productList-box3 .productList-box3-right h1,.jq-box2 h2{border-bottom:#dddddd dashed 1px; line-height:30px; height:30px; font-size:14px; font-weight:bold; color:#ff8306}
.productList-box3 .productList-box3-right ul{padding-top:5px;}
.productList-box3 .productList-box3-right ul li{line-height:26px; color:#505050;}
.productList-box3 .productList-box3-right p{padding-top:15px; color:#505050; line-height:22px;}
.productList-box3 .productList-box3-right span{position:absolute; bottom:15px; right:20px;}
/**/
.jq-box1{padding:10px 30px 15px; background:#e0f3fc;}
.jq-box1 p{line-height:24px; color:#323232;}
.jq-box1 p span{color:#646464;}
.jq-box2{padding:30px;}
.jq-box2 h2{color:#323232;}
.jq-box2 p{line-height:22px; padding:10px 0;}
/* 线路介绍页 */
.introductionXianLu-box1{padding:3px; position:relative;}
.introductionXianLu-shadow{position:absolute; top:0; left:-26px; _left:-29px; width:26px; height:122px; background-position:-181px -313px;}
.introductionXianLu-box1-left{width:380px; padding:10px 10px 25px 25px; overflow:hidden;}
.introductionXianLu-box1-left h1{color:#323232; line-height:28px; font-size:16px; font-weight:bold;}
.introductionXianLu-box1-left p{color:#666; line-height:26px; padding-top:10px;}
.introductionXianLu-box1-left p i{color:#ff5500; font-size:34px; font-weight:400;}
.introductionXianLu-box1-left ul{padding:10px 20px;}
.introductionXianLu-box1-left ul li{line-height:30px; color:#666666; min-height:30px; _height:30px;}
span.btns{}
button.button-minus{background-position:-166px 0;width:18px; height:18px; overflow:hidden; text-indent:9999px; _text-indent:0; _line-height:54px; cursor:pointer; overflow:hidden;}
button.button-add{background-position:-188px 0;width:18px; height:18px; text-indent:9999px; _text-indent:0; _line-height:54px; cursor:pointer; overflow:hidden;}
.introductionXianLu-box1-left ul li input.input-text1,.introductionXianLu-box1-left ul li input.input-text2{border:1px solid #23ace1; width:30px; padding:0 6px; height:18px; line-height:18px; background:#fff;}
.introductionXianLu-box1-left ul li input.input-text2{width:132px; height:22px; line-height:22px;}
.button1{display:block; background-position:0 -357px; width:138px; height:42px; line-height:126px; overflow:hidden; margin:0 0 0px 65px;}
.introductionXianLu-box1-left ul li i{display:inline-block; width:18px; height:16px; background-position:0 -163px; margin-left:5px; cursor:pointer;}
.notice{position:absolute; right:0; top:68px; width:175px; _width:165px; background:#fff; border:1px solid #fd7820; height:auto; padding:5px 10px; line-height:20px;}
.notice-sanjiao{background-position:0 -185px; width:8px; height:17px; left:-8px; position:absolute; top:35px;}
.introductionXianLu-box1-right{width:530px; padding:4px; background:#e6e6e6; margin:15px 8px;}
/* js */
#introJS-pic{position:relative; width:530px;}
#introJS-pic-img ul li{left: 0;opacity: 0;position: absolute;top: 0;width:530px;}
#introJS-pic-img ul li p{position:absolute; left:0; top:265px; background:url(../../images/touming.png) no-repeat; width:515px; height:30px; line-height:30px; color:#fff; padding-right:15px; text-align:right; font-weight:bold; font-size:16px;}
/*#introJS-pic-img li img{width:530px; height:400px;}*/
#introJS-pic-list{position:absolute; left:0; bottom:0; _bottom:-4px;}
#introJS-pic-list ul{width:540px;}
#introJS-pic-list ul li{float:left; display:inline; margin-right:3px; width:130px; height:65px; cursor:pointer;}
#introJS-pic-list ul li img{width:130px; height:65px;}
#introJS-pic-list ul li.introJS-pic-list-hover{border:3px solid #23ace1; width:124px; height:59px; overflow:hidden;}
#introJS-pic-list ul li.introJS-pic-list-hover img{width:124px; height:59px;}
/* js over */
.introductionXianLu-box2{padding:20px; line-height:25px; font-size:14px; color:#fd7820;}
.introductionXianLu-box2 a{color:#fd7820; text-decoration:underline;}
.introductionXianLu-box3{padding:20px;}
.introductionXianLu-box3 p{line-height:22px;}
.introductionXianLu-bg{background:#f1f6fa; border-bottom:1px solid #d1dfe8; height:24px; line-height:24px;}
.introductionXianLu-box4{padding:0 20px 20px;}
.introductionXianLu-box4 span img{width:205px; height:145px; float:left; padding:2px; border:1px solid #e0e0e0; margin-right:70px; margin-top:20px;}
.introductionXianLu-box4 div{width:610px; float:left;}
.introductionXianLu-box4 div dl{border-bottom:1px dashed #e6e6e6; padding:20px 0;  height:100%; overflow:hidden;}
.introductionXianLu-box4 div dl dt{width:60px; float:left; font-weight:bold; line-height:20px;}
.introductionXianLu-box4 div dl dd{float:left; line-height:20px; width:550px;}
.introductionXianLu-list{width:930px; margin:0 auto; padding:15px 0; border-bottom:1px solid #e9e9e9;}
.introductionXianLu-list span img{border:1px solid #d0d0d0; padding:2px; width:50px; height:50px; float:left; margin-right:15px;}
.introductionXianLu-list h3{line-height:35px;}
.introductionXianLu-list p span{float:right; line-height:18px; height:18px; overflow:hidden;}
.introductionXianLu-box3 table tr th{padding:0 20px; font-weight:normal;}
.introductionXianLu-box3 table tr td{padding:0px 20px; line-height:32px; border-bottom:1px dashed #e6e6e6;}
/* about */
.about-leftbar{width:208px; height:270px;}
.about-leftbar ul{padding-top:1px;}
.about-leftbar ul li{border-bottom:1px dashed #d3d3d3; line-height:32px; height:32px; text-indent:20px; font-size:14px; margin:0 auto; width:188px;}
.about-leftbar ul li i{display:inline-block; width:8px; height:12px; background-position:-20px 0; margin-right:10px; margin-top:9px;}
.about-leftbar ul li.acurrent{background-position:0 -243px; background-repeat:repeat-x; width:auto; height:32px; font-weight:bold;  border-bottom:none;text-indent:30px; margin-top:-1px; width:208px;}
.about-leftbar ul li.acurrent a{color:#646464;}
.about-leftbar ul li a{color:#7d7d7d;}.about-leftbar ul li a:hover{color:#ff6600; text-decoration:none;}
.about-rightbar{width:689px; margin-left:-1px; padding:20px 40px; height:100%; overflow:hidden;}
.about-rightbar p{line-height:24px; color:#585858;}
/* 注册 */
.register-box{position:relative; height:100%;}
.register-box-right{position:absolute; top:15px; right:20px; color:#323232;}
.register-yuan1{background-position:-194px -201px; width:6px; height:8px; position:absolute; top:-1px; left:-1px; z-index:3; font-size:0; line-height:0;}
.register-yuan2{background-position:-200px -201px; width:6px; height:8px; position:absolute; top:-1px; right:-1px; z-index:3; font-size:0; line-height:0;}
.register-yuan3{background-position:-194px -207px; width:6px; height:8px; position:absolute; bottom:-1px;  left:-1px; z-index:3; font-size:0; line-height:0;}
.register-yuan4{background-position:-200px -207px; width:6px; height:8px; position:absolute; bottom:-1px;  right:-1px;  z-index:3; font-size:0; line-height:0;}
.register-box-content{width:914px; margin:0 auto; padding:20px 0;}
.register-box-content table tr th{font-size:14px; font-weight:normal; color:#323232; padding:12px 2px;}
.register-box-content table tr td{padding:12px 2px;}
.register-box-content table tr td em{color:#969696; line-height:25px;}
.input-text3{height:30px; border:1px solid #ccc; width:250px; line-height:30px;}
.button2{background-position:0 -400px; width:137px; height:40px; cursor:pointer;}
.register-box-title{background-position:-173px -29px; text-indent:45px; line-height:40px; color:#339900; font-size:16px; font-weight:bold; margin:40px 0 0 90px;}
.register-box-content p{padding:30px 0 0 138px;}
.register-box-content p a{padding-right:10px;}
/* 登录 */
.login-box{ position:relative; height:100%; width:464px; margin:0 auto;}
.login-title{line-height:55px; color:#424242; font-family:"微软雅黑"; text-indent:10px; font-size:18px; width:465px; margin:0 auto; font-weight:400;}
.login-box ul{width:385px; margin:0 auto; padding-top:30px; _padding-top:40px;}
.login-box ul li{font-size:14px; line-height:55px; height:55px; color:#030303;}
.login-box ul li span{margin-left:46px; font-size:12px; display:inline-block;}
.login-box ul li span input{vertical-align:middle;}
.input-text4{background-position:0px -276px; background-repeat:repeat-x; width:238px; height:28px; line-height:28px; border:1px solid #ccc;}
.button3{background-position:0 -440px; width:137px; height:40px; cursor:pointer; margin-left:46px;}
.login-border{border-bottom:1px solid #e4e4e4; margin:0 10px; height:1px; line-height:0; font-size:0;}
.login-box .promptBox{margin-left:10px; background-position:-188px -460px; text-indent:22px; display:inline-block; background-color:#fff6d8; border:1px solid #ffcf67; width:165px; height:22px; line-height:22px; color:#384450; display:none;}
/* 常见问题  */
.FAQ-leftbar{width:208px; height:''; overflow:hidden;}
.FAQ-leftbar h2{border-bottom:1px solid #dcdcdc; font-size:14px; color:#323232; font-weight:bold; line-height:30px; text-indent:20px;}
#FAQ-nav1{margin:0 10px;}
#FAQ-nav1 li{margin:0; padding:0;}
#FAQ-nav1 li dl dt{border-bottom:1px dotted #d3d3d3; color:#323232; padding:6px 0 8px 20px; margin-bottom:5px;}
#FAQ-nav1 li dl dd{background-position:-200px -255px; text-indent:10px; line-height:24px; height:24px; margin-left:38px;}
#FAQ-nav1 li dl dd a{color:#323232;} #FAQ-nav1 li dl dd a:hover{color:#323232; font-weight:bold; text-decoration:none;}
.tree-add{background-position:-194px -67px; display:inline-block; width:13px; height:14px; padding-right:5px; cursor:pointer;}
.tree-lower{background-position:-194px -87px; display:inline-block; width:13px; height:14px; padding-right:5px; cursor:pointer;}
.FAQ-rightbar{width:769px; margin-left:-1px;}
.FAQ-rightbar-box{padding:10px 45px; line-height:24px; color:#585858;}
/* 订单中心 */
.order-box{margin:20px 40px;}
.orderStyle1{background:#f1f6fa; border-top:1px solid #d1e0e8;}
.order-box1{height:50px; padding-left:20px;}
.order-box1-zhifu{margin-left:20px; margin-top:10px;}
.order-box1 h2{height:50px; line-height:46px;}
.order-box1-zhifu a{background-position: right -485px;color: #fff;display: block;float: left;height:26px; padding-right: 18px;}
.order-box1-zhifu span{background-position: left -485px;cursor: pointer;float: left;height:26px;line-height:26px;padding-left: 18px; font-size:14px; font-weight:bold;}
.order-box1-zhifu a:hover{color:#fff; text-decoration:none;}
.order-boxTable1 tr th,.order-boxTable1 tr td{padding:0 10px; font-weight:normal; color:#323232;}
.order-boxTable2 tr th{background:#f1f6fa; border-top:1px solid #d1e0e8; font-weight:normal; color:#323232; padding:0 10px;}
.order-boxTable2 tr td{border-bottom:1px dashed #e5e5e5; color:#323232; padding:0 10px;}
.ul-list-icon,.ul-list-icon2{margin:15px 10px 0; clear:both;}
.ul-list-icon li{float:left; display:inline; margin-right:15px; width:160px; margin-bottom:10px;}
.ul-list-icon li input,.ul-list-icon2 li input{float:left; margin-top:5px; margin-right:5px; cursor:pointer;}
.ul-list-icon li span,.ul-list-icon2 li span{width:124px; height:30px; border:1px solid #c7c7c7; display:block; float:left;}
.icbc,.cmb,.ccb,.boc,.abc,.bankcomm,.cebbank,.spdb,.cgb,.ecitic,.cib,.sdb,.cmbc,.beijing,.hzbank,.shbank,.beijingRural,.pingan,.alipay,.UnionPay,.zaixianPay{background:url(../../images/combo.png) no-repeat; width:124px; height:30px; display:inline-block; line-height:90px; overflow:hidden;}
.icbc{background-position:0px -1045px;}
.cmb{background-position:0px -506px;}
.ccb{background-position:0px -327px;}
.boc{background-position:0px -146px;}
.abc{background-position:0px 0;}
.bankcomm{background-position:0px -579px;}
.cebbank{background-position:0px -399px;}
.spdb{background-position:0px -363px;}
.cgb{background-position:0px -795px;}
.ecitic{background-position:0px -470px;}
.cib{background-position:0px -434px;}
.sdb{background-position:0px -1299px;}
.cmbc{background-position:0px -543px;}
.beijing{background-position:0px -75px;}
.hzbank{background-position:0px -1010px;}
.shbank{background-position:0px -1599px;}
.beijingRural{background-position:0px -1639px;}
.pingan{background-position:0px -1407px;}
.alipay{background-position:0px -1670px;}
.UnionPay{background-position:0px -1708px;}
.zaixianPay{background-position:0px -1749px;}
.ul-list-icon2 li{clear:both; height:50px;}
.ul-list-icon2 li p{color:#666; padding-left:10px; float:left;}
.button4{background-position:0 -519px; width:117px; height:40px; cursor:pointer;}
.button5{background-position:-122px -519px; width:85px; height:22px; cursor:pointer;}
.button6{background-position:0 -560px; width:117px; height:40px; cursor:pointer; margin-top:10px;}
.input1{width:50px; border:1px solid #bdbddb; height:18px; text-align:center;}
.order-boxTable3 tr th,.order-boxTable3 tr td{padding:5px; border-bottom:1px dashed #cee8f3; color:#323232; line-height:22px;}
.order-boxTable3a tr td{border-bottom:1px dashed #cee8f3; color:#323232; line-height:22px;}
.order-boxTable3 tr th,.order-boxTable3 tr td input,.order-boxTable3a tr td{vertical-align:middle;}
.input2,.text-area1{border:1px solid #7e9db9; width:190px; height:20px; background:#fff;}
.text-area1{width:380px; height:80px;}
.order-boxTable4 tr td{color:#323232;}
/* 找回密码  */
.find-box-content{width:760px; margin:0 auto; line-height:25px; font-size:14px; color:#646464; height:300px; padding-top:30px;}

/* 会员中心 */
.pageBody-member{border:1px solid #e5e5e5; border-left:0; background:url(../../images/memberCenterLeftBg.png) repeat-y; width:auto; height:100%; overflow:hidden;}
.memberCenter-boxLeft{width:170px;}
.memberCenter-boxLeft ul{margin:10px 0 0 10px;}
.memberCenter-boxLeft ul li{border-bottom:1px solid #e9e9e9; width:160px; height:45px; line-height:45px; text-indent:80px; color:#323232;}
.memberCenter-boxLeftUlCurrent{display:block; background:#fff; font-weight:bold; border-top:1px solid #e9e9e9; margin-top:-1px;}
.memberCenter-boxLeft ul li a{color:#323232;} .memberCenter-boxLeft ul li a:hover{color:#323232; text-decoration:none;}
.memberCenter-boxRight{width:809px; position:relative;}
.memberCenter-boxRightLayout{margin:0 18px 18px; border:#dae9ec 1px solid;}
.mc-boxRightLayoutBG1{background:#ecfcff; border-bottom:1px solid #dae9ec; height:32px; position:relative;}
.mc-boxRightLayoutBG1 .loading{position:absolute; right:18px; top:0; line-height:28px; display:none;}
.mc-boxRightLayoutBG1 select{width:auto; margin:5px 0 0 10px; padding:2px 2px 2px 5px;}
.memberCenter-boxTable1 tr th{background:#f9feff; border-bottom:1px solid #dae9ec; border-top:1px solid #fff; color:#323232; font-weight:normal; border-right:1px solid #dae9ec;}
.memberCenter-boxTable1 tr td{color:#323232; padding:5px 0; line-height:22px;}
.mc-boxRightTit{margin:0 18px; line-height:25px; height:25px;  border-bottom:1px solid #e2e2e2;}
.mc-boxRightTit dt{float:left; text-indent:10px; font-weight:bold; padding-right:15px; color:#323232;}
.mc-boxRightTit dd{background:#f1f1f1; border:1px solid #e2e2e2; padding:0px 10px; width:auto; color:#23ace1; float:left; line-height:24px; margin-left:-1px; cursor:pointer; border-bottom:0;}
.mc-boxRightTit dd.current{background:#fff; border-bottom:1px solid #fff; position:relative; z-index:6; margin-bottom:-1px;}
.mc-boxRightCont ul li{float:left; display:inline; padding:12px 0 0 27px;}
.mc-boxRightCont ul li img{width:205px; height:145px; border:1px solid #e0e0e0; padding:2px;}
.mc-boxRightCont ul li p{position:relative; color:#323232; line-height:22px; padding:0 5px; height:44px; overflow:hidden; width:201px;}
.mc-boxRightCont ul li p span{line-height:22px; height:22px; overflow:hidden; display:block;}
.button7{position:absolute; bottom:0; right:0; background-position:-80px -254px; width:67px; height:24px; cursor:pointer;}
#pop-up{position:absolute; top:50%; left:50%; margin:-146px 0 0 -182px; width:365px; height:292px; background:#fff;}
.pop-up-box{margin:4px; border:4px solid #2fb1e3; height:276px; position:relative;}
.button8{ background-position:-121px -543px; width:85px; height:27px; cursor:pointer; float:right;}
.anniu{position:absolute; top:2px; right:2px; background-position:-164px -85px; width:18px; height:18px; cursor:pointer;}
.pop-up-box1{height:75px; background:#ffffea;}
#pop-up ul{margin:10px 20px 0;}
#pop-up ul li{height:auto; margin:6px 0; clear:both; padding:0; width:304px; color:#333333;}
.input3,.text-area2{width:180px; height:20px; border:1px solid #7f9db9; vertical-align:middle;}
.text-area2{width:240px; height:50px;}
.mc-boxRight-huodeTable tr th,.mc-boxRight-xiaohaoTable tr th{border-right:1px solid #dae9ec; border-bottom:1px solid #dae9ec; color:#323232; font-weight:normal; padding:0 5px;}
.mc-boxRight-huodeTable tr td,.mc-boxRight-xiaohaoTable tr td{color:#323232; padding:5px;}
.hidden{display:none;}
.messages-box{margin:50px 0 40px 70px;}
.messages-box1 img{width:128px; height:128px; padding:2px; border:1px solid #e6e6e6; margin-top:15px;}
.messages-box1 p{text-align:center; width:128px; line-height:30px;}.messages-box1 p a{text-decoration:underline;}
.messages-box2{width:590px;}
.messages-boxTable1 tr th{font-weight:normal;} .messages-boxTable1 tr td a{text-decoration:underline;}
.input4{border:1px solid #ddd; background:#f7f7f7; width:280px; height:26px; color:#323232; line-height:26px;}
.button9{background-position:-124px -573px; width:83px; height:27px; cursor:pointer;}
.comments-box{margin:20px 30px;}
.comments-box1{background:#efefef; width:auto; height:150px;}
.comments-box1 img{float:left; border:1px solid #e0e0e0; background:#fff; padding:2px; width:205px; height:144px; margin-right:25px;}
.comments-box1 p{padding-top:40px; line-height:25px;}
.comments-box2{border-bottom:1px solid #e9e9e9; padding:20px 0;}
.comments-box2 span img{float:left; border:1px solid #d0d0d0; padding:2px; width:50px; height:50px; margin-right:15px;}
.comments-box2 h3,.comments-box2 p{line-height:25px;}
.button10{background-position:0 -608px; width:137px; height:42px; cursor:pointer;}
.button11{background-position:-139px -608px; width:57px; height:24px; cursor:pointer; border:0; vertical-align:middle; margin-left:8px; line-height:72px; overflow:hidden; display:inline-block;}
.button12{background-position: right -656px;color: #586885;cursor: pointer;display: block;float: left;font-weight: bold;height: 28px;line-height: 28px;margin-right: 8px; padding: 0 12px 0 0; text-decoration: none;text-indent: 5px;}
.button12 span{background-position: left -656px;display: block;float: left;height: 28px;margin-top: 0;padding-right: 8px;}
.button12:hover{color:#0b6d92; text-decoration:none;}

.button13{background-position: right -222px;color: #ed8205;cursor: pointer;display: block;float: left;font-weight: bold;height:28px;line-height:28px;margin-right: 8px; padding: 0 12px 0 0; text-decoration: none;text-indent: 5px;}
.button13 span{background-position:-80px -222px;display: block;float: left;height:28px;margin-top: 0;padding-right: 8px;}
.button13:hover{color:#df8e2e; text-decoration:none;}
.button14{background-position:0 -688px; width:106px; height:40px; line-height:120px; overflow:hidden; cursor:pointer;}

/* 弹出框 */
.popUp-box{position:absolute; width:360px; height:290px; background:#2fb1e3; border:3px solid #ffffff; z-index:3000;}
.popUp-boxCont{position:relative; margin:4px; background:#fff; width:352px; height:282px;}
.popUp-boxCont h3{background:#ffffea; width:auto; height:32px; line-height:32px; text-indent:18px; color:#505050; font-size:14px; font-weight:bold;}
.popUp-boxCont .close{position:absolute; right:5px; top:5px; background-position:0 -312px; width:20px; height:20px; cursor:pointer;}
.popUp-boxCont .loginBox{margin:30px;}
.popUp-boxCont .loginBox tr th{font-size:14px; color:#030303; text-align:right; font-weight:normal;}
.popUp-boxCont .loginBox tr td{font-size:12px; color:#646464; text-align:left;}
.popUp-boxCont .loginBox .button3{margin-left:0;}

.popUl1{margin:0 20px;}
.popUl1 li{padding:6px 5px;}
.popUl1 .button8{float:left; margin-left:68px;}
/* 订单管理 查看 */
.orderDetail-box{padding:20px;}
.orderDetail-box .table2{border:1px solid #dae9ec; color:#323232;}
.orderDetail-box .table2 tr th{background:#f9feff; border-bottom:1px solid #e9f3f5; text-align:right; vertical-align:middle; font-weight:normal; width:150px; padding:0 5px; height:35px; border-right:1px solid #dae9ec;}
.orderDetail-box .table2 tr td{border-bottom:1px solid #e9f3f5; text-align:left; vertical-align:middle; padding:0 5px;}
/* 提示页 */
.prompt-page{border:1px solid #e7e7e7; background:#f7f7f7; width:auto; height:100%; overflow:hidden; margin:20px;}
