<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一日游-关于我们</title>
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.6.2.min.js" type="text/javascript"></script>
</head>

<body>
<div id="site-nav">
  <div id="site-nav-bd">
    <p>欢迎来到一日游！请<a href="#" title="登录">登录</a>  ! <a href="#" title="免费注册">免费注册</a></p>
  </div>
</div>
<div class="blank10"></div>
<div class="masthead">
  <div class="logo fn-left"><a href="#" title="一日游">一日游</a></div>
  <div class="city-current fn-left"><strong>杭州站</strong> <i></i>
      <div class="cityAddress" style="display:none;">
        <ul>
          <li><a href="#" title="杭州站">杭州站</a></li>
          <li><a href="#" title="杭州站">上海站</a></li>
          <li><a href="#" title="杭州站">苏州站</a></li>
          <li><a href="#" title="杭州站">无锡站</a></li>
          <li><a href="#" title="杭州站">南京站</a></li>
        </ul>
      </div>
      <!--其它城市--> 
  </div>
  <div id="serch" class="fn-left">
    <div id="serch-bg">
      <div class="serch-bg-cont"><input class="s-input1" onblur="if(this.value==''){this.value='请输入目的地，关键词';}this.style.color='#999';" onclick="if(this.value=='请输入目的地，关键词'){this.value='';}this.style.color='#999';" value="请输入目的地，关键词" style="color: rgb(153, 153, 153);" /><a href="#" class="s-button1">搜索</a></div>
      
      <div id="serch-bg-left" class="fn-left"></div>
      <div id="serch-bg-right" class="fn-right"></div>
    </div>
    <p><strong>热门搜索：</strong><a href="#" title="厦门">厦门</a>  <a href="#" title="香港">香港</a>  <a href="#" title="迪拜">迪拜</a>  <a href="#" title="南京">南京</a>  <a href="#" title="苏州">苏州</a>  <a href="#" title="云南">云南</a>  <a href="#" title="成都">成都</a></p>
  </div>
  <div class="call fn-right">预定电话</div>
</div>
<div class="fn-clear"></div>
<div class="menu-nav">
  <div class="mastmenu">
    <div class="left-saixuan">
      <h3 id="j_titleBiao" class="titleBiao">杭州出发旅游 <i></i></h3>
      <div id="j_saixuanFenlei" class="saixuanFenlei" style="display: none">
        <dl class="dl1">
          <dt>杭州及周边热门景点</dt>
          <dd><a href="#" title="西湖十景">西湖十景</a></dd>
          <dd><a href="#" title="灵隐寺">灵隐寺</a></dd>
          <dd><a href="#" title="宋城">宋城</a></dd>
          <dd><a href="#" title="三谭印月">三谭印月</a></dd>
          <dd><a href="#" title="苏堤春晓">苏堤春晓</a></dd>
          <dd><a href="#" title="西塘水乡">西塘水乡</a></dd>
          <dd><a href="#" title="绍兴古城">绍兴古城</a></dd>
          <dd><a href="#" title="乌镇">乌镇</a></dd>
          <dd><a href="#" title="河坊街">河坊街</a></dd>
          <dd><a href="#" title="平湖秋月">平湖秋月</a></dd>
          <dd><a href="#" title="苏州留园">苏州留园</a></dd>
          <dd><a href="#" title="普陀山">普陀山</a></dd>
        </dl>
        <div class="fn-clear"></div>
        <dl class="dl2">
          <dt>更换出发地</dt>
          <dd><a href="#" title="杭州">杭州</a>  <a href="#" title="上海">上海</a>  <a href="#" title="苏州">苏州</a>  <a href="#" title="南京">南京</a>  <a href="#" title="北京">北京</a></dd>
        </dl>
      </div>
    </div>
    <ul id="menu">
      <li><a href="#" title="首页"><span>首页</span></a></li>
      <li><a href="#" title="一日游"><span>一日游</span></a></li>       
      <li><a href="#" title="超值酒店"><span>超值酒店</span></a></li>        
      <li><a href="#" title="旅游租车"><span>旅游租车</span></a></li>        
      <li><a href="#" title="自驾游门票"><span>自驾游门票</span></a></li>        
      <li><a href="#" title="周边旅游"><span>周边旅游</span></a></li> 
    </ul>  
  </div>
</div>
<!-- menu over -->
<div class="pageBody">
  <p class="li-height35 color3">您现在的位置：<a href="#" class="color3">首页</a>>关于我们</p>
  <div class="about-leftbar border5 fn-left">
    <ul>
      <li class="acurrent"><i></i><a href="#" title="关于我们">关于我们</a></li>
      <li><i></i><a href="#" title="联系我们">联系我们</a></li>
      <li><i></i><a href="#" title="报名方式">报名方式</a></li>
      <li><i></i><a href="#" title="支付方式">支付方式</a></li>
      <li><i></i><a href="#" title="法律声明">法律声明</a></li>
    </ul>
  </div>
  <div class="about-rightbar border5 fn-right">
    <p class="text-indent1">一日游（www.yiriyou.com）创建于2010年10月份，是杭州寰球假日旅行社有限公司首个真正意义上的旅游电子商务平台。一日游从思路到上线的每一个步骤都充分站在了游客的立场上，为广大游客提供良好的服务以及良好的品质产品是易游杭州旅游网为之奋斗不止的旅途。相信易游杭州旅游网能为您带去轻松和快乐，便捷和享受！</p>
    <div class="blank10"></div>
    <p class="text-indent1">杭州寰球假日旅行社是经国家旅游局批准，工商局注册，具有独立法人资格的股份制旅游经营实体。公司现设旅游部，会议部，商务部，计调部，电子商务部，酒店预订部，以及办公室等业务机构。公司以"诚信为本，注重品质，打造金牌服务，致力于高质量，周到地服务海内外宾客。"经过多年的散客接待，积累了大量的旅游实际经验，培养了一大批高素质的、接待经验丰富的管理人员和导游队伍。多年以来，公司始终贯彻"以人为本，服务至上"的原则，提供各类人性化服务，在业内享有良好的口碑。 
</p>
    <div class="blank10"></div>
    <p class="text-indent1">公司拥有三星级涉外酒店——寰球假日敦煌饭店（杭城唯一的属于网络公司自已的酒店）。地处闹市区，距离西湖近，交通位置优越；拥有各类客房190间，大小会议室4个，是您旅游观光、商务会议、休闲度假的理想下榻之地。 </p>
    <div class="blank10"></div>
    <p class="text-indent1">我们的承诺：只要抵达杭州市内散客均享受24小时，全天候免费接站服务并可根据要求代订各种宾馆，代办票务服务！</p>
    <div class="blank10"></div>
    <p class="text-indent1">我们竭诚欢迎全国旅游界的朋友，各地来杭游客。携手合作，共创辉煌！易游人祝你旅途愉快！</p>
    <div class="blank10"></div>
    <p class="text-indent1">一日游旅游网 - 杭州寰球假日旅行社</p>
    <div class="blank10"></div>
    <div align="center"><img src="images/pic26.jpg" /></div>
  </div>
</div>
<!-- 底部 -->
<div class="blank10"></div>
<!-- foot -->
<div id="foot">
<div class="blank10"></div>
<p><a href="#" target="_blank" title="关于我们">关于我们</a> | <a href="#" target="_blank" title="联系我们">联系我们</a> | <a href="#" target="_blank" title="支付方式">支付方式</a><br />
版权所有 浙ICP备10212438号<br /> 
地址: 杭州市莫干山路246号 <span class="paLeft10">电话: 0571-88468666</span>     <span class="paLeft10">经营许可证:L-ZJ00029</span>    <span class="paLeft10">免费咨询电话:400-886-9500</span><br />
Copyright © EuHangzhou.com. All Rights Reserved.<br />
  </p>
  <p><a href="#" target="_blank" title="经营性网站备案信息"><img src="images/beian.png" alt="经营性网站备案信息" /></a><a href="#" target="_blank" title="不良信息举报中心"><img src="images/jubao.png" alt="不良信息举报中心" /></a><a href="#" target="_blank" title="网络110报警服务"><img src="images/baojin.png" alt="网络110报警服务" /></a><a href="#" target="_blank" title="网络工商"><img src="images/wlgs.png" alt="网络工商" /></a></p>
  
</div>
<!-- foot over -->
<script src="js/text.js" type="text/javascript"></script>
</body>
</html>
