<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一日游-常见问题</title>
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.6.2.min.js" type="text/javascript"></script>
</head>

<body>
<div id="site-nav">
  <div id="site-nav-bd">
    <p>欢迎来到一日游！请<a href="#" title="登录">登录</a>  ! <a href="#" title="免费注册">免费注册</a></p>
  </div>
</div>
<div class="blank10"></div>
<div class="masthead">
  <div class="logo fn-left"><a href="#" title="一日游">一日游</a></div>
  <div class="city-current fn-left"><strong>杭州站</strong> <i></i>
      <div class="cityAddress" style="display:none;">
        <ul>
          <li><a href="#" title="杭州站">杭州站</a></li>
          <li><a href="#" title="杭州站">上海站</a></li>
          <li><a href="#" title="杭州站">苏州站</a></li>
          <li><a href="#" title="杭州站">无锡站</a></li>
          <li><a href="#" title="杭州站">南京站</a></li>
        </ul>
      </div>
      <!--其它城市--> 
  </div>
  <div id="serch" class="fn-left">
    <div id="serch-bg">
      <div class="serch-bg-cont"><input class="s-input1" onblur="if(this.value==''){this.value='请输入目的地，关键词';}this.style.color='#999';" onclick="if(this.value=='请输入目的地，关键词'){this.value='';}this.style.color='#999';" value="请输入目的地，关键词" style="color: rgb(153, 153, 153);" /><a href="#" class="s-button1">搜索</a></div>
      
      <div id="serch-bg-left" class="fn-left"></div>
      <div id="serch-bg-right" class="fn-right"></div>
    </div>
    <p><strong>热门搜索：</strong><a href="#" title="厦门">厦门</a>  <a href="#" title="香港">香港</a>  <a href="#" title="迪拜">迪拜</a>  <a href="#" title="南京">南京</a>  <a href="#" title="苏州">苏州</a>  <a href="#" title="云南">云南</a>  <a href="#" title="成都">成都</a></p>
  </div>
  <div class="call fn-right">预定电话</div>
</div>
<div class="fn-clear"></div>
<div class="menu-nav">
  <div class="mastmenu">
    <div class="left-saixuan">
      <h3 id="j_titleBiao" class="titleBiao">杭州出发旅游 <i></i></h3>
      <div id="j_saixuanFenlei" class="saixuanFenlei" style="display: none">
        <dl class="dl1">
          <dt>杭州及周边热门景点</dt>
          <dd><a href="#" title="西湖十景">西湖十景</a></dd>
          <dd><a href="#" title="灵隐寺">灵隐寺</a></dd>
          <dd><a href="#" title="宋城">宋城</a></dd>
          <dd><a href="#" title="三谭印月">三谭印月</a></dd>
          <dd><a href="#" title="苏堤春晓">苏堤春晓</a></dd>
          <dd><a href="#" title="西塘水乡">西塘水乡</a></dd>
          <dd><a href="#" title="绍兴古城">绍兴古城</a></dd>
          <dd><a href="#" title="乌镇">乌镇</a></dd>
          <dd><a href="#" title="河坊街">河坊街</a></dd>
          <dd><a href="#" title="平湖秋月">平湖秋月</a></dd>
          <dd><a href="#" title="苏州留园">苏州留园</a></dd>
          <dd><a href="#" title="普陀山">普陀山</a></dd>
        </dl>
        <div class="fn-clear"></div>
        <dl class="dl2">
          <dt>更换出发地</dt>
          <dd><a href="#" title="杭州">杭州</a>  <a href="#" title="上海">上海</a>  <a href="#" title="苏州">苏州</a>  <a href="#" title="南京">南京</a>  <a href="#" title="北京">北京</a></dd>
        </dl>
      </div>
    </div>
    <ul id="menu">
      <li><a href="#" title="首页"><span>首页</span></a></li>
      <li><a href="#" title="一日游"><span>一日游</span></a></li>       
      <li><a href="#" title="超值酒店"><span>超值酒店</span></a></li>        
      <li><a href="#" title="旅游租车"><span>旅游租车</span></a></li>        
      <li><a href="#" title="自驾游门票"><span>自驾游门票</span></a></li>        
      <li><a href="#" title="周边旅游"><span>周边旅游</span></a></li> 
    </ul>  
  </div>
</div>
<!-- menu over -->
<div class="pageBody">
  <p class="li-height35 color3">您现在的位置：<a href="#" class="color3">首页</a>>关于我们</p>
  <div class="FAQ-leftbar border5 fn-left">
    <h2>帮助中心</h2>
    <ul id="FAQ-nav1">
      <li>
        <dl>
          <dt><i class="tree-lower"></i>预定帮助</dd>
          <dd><a href="#">预定流程</a></dd>
          <dd><a href="#">预定常见问题</a></dd>
          <dd><a href="#">支付常见问题</a></dd>
          <dd><a href="#">取票入园常见问题</a></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt><i class="tree-add"></i>服务保障</dt>
          <dd style="display:none;"><a href="#">预定流程</a></dd>
          <dd style="display:none;"><a href="#">预定问题</a></dd>
          <dd style="display:none;"><a href="#">支付常见问题</a></dd>
          <dd style="display:none;"><a href="#">取票入园常见问题</a></dd>
        </dl>
      <li>
        <dl>
          <dt><i class="tree-add"></i>合同签署</dt>
          <dd style="display:none;"><a href="#">预定流程</a></dd>
          <dd style="display:none;"><a href="#">预见问题</a></dd>
          <dd style="display:none;"><a href="#">支付常见问题</a></dd>
          <dd style="display:none;"><a href="#">取票入园常见问题</a></dd>
        </dl>
      <li>
        <dl>
          <dt><i class="tree-add"></i>联系与沟通</dt>
          <dd style="display:none;"><a href="#">预定流程</a></dd>
          <dd style="display:none;"><a href="#">预定常见问题</a></dd>
          <dd style="display:none;"><a href="#">支付常见问题</a></dd>
          <dd style="display:none;"><a href="#">取票入常见问题</a></dd>
        </dl>
      </li>
    </ul>
  </div>
  <div class="FAQ-rightbar border5 fn-right">
    <div class="FAQ-rightbar-box">
      <h2 class="font14 li-height35 color3"><strong>预定流程</strong></h2>
      <div class="blank10"></div>
      <h3 class="color3"><strong>预定流程</strong></h3>
      <div class="blank10"></div>
      <div><img src="images/yuding.jpg" /></div>
      <div class="blank10"></div>
      <h3 class="color3"><strong>"电子凭证（二维码）"使用说明</strong></h3>
<p>电子凭证（二维码）的使用方法如下：<br />
1、开通本功能的景点均配置了对应的识别设备，请将手机短信交景点进行验证，验证成功便可以支付优惠价换取相应门票；<br />
2、如扫描时读取失败，请将短信中的辅助码（8位数字）告知景点工作人员，同样可以完成验证；<br />
3、如需帮助请联系一日游客服中心400-666-6699 ；<br />
4、注意事项：电子凭证仅在游玩当天有效，过期作废；如果短信内的订单信息和景点验证的信息不一致，景点有权拒绝接受此凭证，遇到这种情况请联系一日游客服中心；同一条验证码只能使用一次，所以请勿将短信转发给其他人。<br /></p>
<h3 class="color3"><strong>预购注意事项</strong></h3>
<p>1、请至少提前1天预订（如遇特殊情况可致电客服咨询），酒店预订须致电客服下单，客服人员将与酒店确认有无房间之后再与订票人确认订购。<br />
2、证件(如身份证、驾照、护照)和订单短信，是游客到达景点购买会员价门票及取票的凭证。如订单短信不慎遗失或删除，请致电客服。<br />
3、如需订单修改或取消，请在入园前一天中午12点前致电客服。</p>
<div class="blank10"></div>
<h2 class="font14 li-height35 color3"><strong>预定常见问题</strong></h2>
<h3 class="color3"><strong>问：我应该如何订票？</strong></h3>
<p>答：您好！目前一日游网站提供2种订票方式：<br />
电话预订：预订电话是400-886-9500<br />
网上预订：选择景点→填写信息→生成订单→查收短信→取票游玩</p>
<h3 class="color3"><strong>问：我可以预定多长时间的门票？</strong></h3>
<p>答：您好！一般情况下，可以在一日游网站上订购一个月内的门票，游玩日期在下订单的时候需要明确。如果订单生成后需要修改游玩日期，请致电一日游客服中心400-886-9500，由客服人员帮您修改。</p>
<h3 class="color3"><strong>问：可以当天订票吗？</strong></h3>
<p>答：您好！一般需要提前1天预订，游玩日期前一天中午12点前。<br />
部分支持手机电子票（二维码）的景点，支持当天预订当天游玩。<br />
如遇特殊情况可致电一日游客服中心400-666-6699咨询。</p>
<h3 class="color3"><strong>问：票是快递给我还是如何？</strong></h3>
<p>答：您好！根据订单性质不同，驴妈妈旅游网共有3种取票方式为您服务，您可选择订单支持的取票方式，进行取票。这3 种取票方式为：<br />
第一种是短信取票方式。您在驴妈妈网上购买门票，当提示景区支持短信取票时，您可填写个人信息后提交生成订单，在完成在线支付后，此订单信息将会以短信的方式发送到您的手机，您可在入园时出示您的身份证证件和手机订单短信信息，即可取票入园。<br />
第二种是二维码（电子票）取票方式。您在驴妈妈网上购买门票，当提示景区支持二维码取票时，您可填写个人信息提交生成订单，在完成在线支付后，系统将您的订单及二维码信息将会以短信的形式发送到您的手机，您只需在指定的取票地点验证二维码，即可取票入园。<br />
第三种是实体票送票方式。您在驴妈妈网上购买门票，当提示景区支持实体票送票服务时，您可填写个人信息后提交生成订单，完成在线支付后，驴妈妈客服人员把实体票以快递的方式送到您所填写的送票地址处，请及时进行查收。<br /></p>
<h3 class="color3"><strong>问：我在你们网上订的票价是120元，可我到景区售票处看到的票价是100元，我可以得到相应的补偿吗？</strong></h3>
<p>答：您好！可以的。我们执行优惠承诺服务保障，请致电客服中心400-666-6699，我们将返回差价。</p>
<h3 class="color3"><strong>问：为什么订单生成以后不能支付？</strong></h3>
<p>答：您好！预订单暂不能支付，需要客服核实订单里面的产品库存是否为可售产品，我们在核实后会短信通知您订单是否可支付的。</p> 
<div class="blank10"></div>
<h2 class="font14 li-height35 color3"><strong>付款常见问题</strong></h2>
<h3 class="color3"><strong>问：请问我应该如何付款？</strong></h3>
<p>答：您好！如果您选择在线支付方式，可以通过网络银行支付。一日游使用的第三方支付接口，安全便捷。如果您选择取票时付款，可以在景点售票处以优惠价支付门票款项。</p> 
<h3 class="color3"><strong>问：使用网上支付安全吗？</strong></h3>
<p>答：您好！网上支付是通过国内各大银行的支付网关进行操作的，采用的是国际流行的SSL或SET方式加密。安全性是由银行方面负责的，是完全有保证的。IPAY、银联和快钱不收集用户的信用卡资料。当用户需要填写信用卡资料时，实际上已经到达到银行的支付网关。所以，用户不必担心您的信用卡资料会在经由支付工具时泄露。请用户不要在公共场合输入信用卡信息，以防被他人看到您的卡号及密码。如果您需要得到更多与"网上支付安全"方面的信息，请您直接与您的发卡行联系。 另外，我们使用的支付平台，在Internet上实行密钥的自动管理，保证网上数据的机密性、真实性、完整性和不可抵赖性。 进而更加加强了网上支付的安全性。</p> 
<h3 class="color3"><strong>问：网上支付不能成功的可能原因有哪些？</strong></h3>
<p>答：您好！网上支付不成功的原因可能有以下几点：<br />
A．电脑没有接入INTERNET或其访问区域受限；<br />
B．IE 版本过低，密码位数不足，IE参数设置不正确；<br />
C．在一日游网站提交订单后，进入IPAY安全支付平台。您选择好进行网上支付的银行，进行网上支付的安全系统认证连接时（即点击选择的银行支付通道后），大约需30秒或更长的时间，中途若出现网络通信故障（上网速度过慢、modem掉线、或在访问受限制的局域网内等），会导致提交中断或失败；<br />
D．进行网上支付的安全系统认证连接时（即点击选择的银行支付通道后），您进行刷新连接页面的操作，出现系统提示："订单重复错误"。该设置是为防止网上的一些不正规的行为导致银行结算的发生。请重新下订单进行在线支付；<br />
E．输入的支付卡的帐号和密码不正确；<br />
F．使用的支付功能未经过银行认证；<br />
G．支付卡上的金额不足以支付购物款；<br />
H．使用的支付卡不正确等。</p> 
<h3 class="color3"><strong>问：如果网上支付未能成功该怎么办？</strong></h3>
<p>答：您好！由于在线支付是即时向银行系统提交支付信息的。所以如果出现信用卡、存折金额不足，意外断线等状况而导致支付的不成功，如需要重新支付，可重新点击您所需要支付的订单完成支付。</p> 
<h3 class="color3"><strong>问：退费的费用应该怎么算？</strong></h3>
<p>答：您好！驴妈妈的退费计算如下：<br />
1、网上支付后，如果需要订单取消，需在预订游玩时间前一天中午12点之前致电客服取消订单，游客需提供账户（如：支付宝或银联卡号）：<br />
（1）如整张订单退费，将收取您订单全部费用5%的违约金，剩余款项我们将在5个工作日内汇入游客提供的账户中。（如：订单全部金额为100，则扣除100*5%=5元，退还95元）<br />
（2）订单中的一部分需退费，则扣除取消部分的金额的5%的违约金，5个工作日内我们会将所退款项汇入游客提供的帐号。（如：订单总金额为100元，需取消部分为50元，则需扣除的违约金为 50*5%=2.5元，退还47.5元） </p>

<div class="blank10"></div>
<h2 class="font14 li-height35 color3"><strong>取票入园常见问题</strong></h2>

<h3 class="color3"><strong>问：如何入园？</strong></h3>
<p>答：您好！请您手持证件(如身份证、驾照、护照)和订单短信，根据短信中的取票地址，在指定的地方进行取票，可将短信中的"二维码"交与工作人员进行确认，如扫描时读取失败，请将短信中的辅助码（8位数字）告知景点工作人员，同样可以完成验证，验证成功便可以支付优惠价换取相应门票从而入园，部分景点不提供实体票，直接凭短信即可进入。</p> 
<h3 class="color3"><strong>问：没有短信可以入园吗？</strong></h3>
<p>答：您好！如您的订单短信未收到、不慎遗失或误删，请尽快致电驴妈妈客服中心400-666-6699，由客服人员安排给您重发短信，方便您及时入园。</p> 
<h3 class="color3"><strong>问：为什么收不到短信？</strong></h3>
<p>答：您好！驴妈妈旅游网在收到您的手机注册信息或订单信息后，将会在3-10分钟内给您发送短信确认信息。请确定您已经注册成功或已生成了预订单，能正常登录帐号或能在订单管理中可查询到相关订单信息，并确保自己手机通讯畅通。如还未收到短信确认信息，请致电驴妈妈客服中心400-666-6699进行咨询。</p>




    </div>
    <div class="blank10"></div>
  </div>
</div>
<!-- 底部 -->
<div class="blank10"></div>
<!-- foot -->
<div id="foot">
<div class="blank10"></div>
<p><a href="#" target="_blank" title="关于我们">关于我们</a> | <a href="#" target="_blank" title="联系我们">联系我们</a> | <a href="#" target="_blank" title="支付方式">支付方式</a><br />
版权所有 浙ICP备10212438号<br /> 
地址: 杭州市莫干山路246号 <span class="paLeft10">电话: 0571-88468666</span>     <span class="paLeft10">经营许可证:L-ZJ00029</span>    <span class="paLeft10">免费咨询电话:400-886-9500</span><br />
Copyright © EuHangzhou.com. All Rights Reserved.<br />
  </p>
  <p><a href="#" target="_blank" title="经营性网站备案信息"><img src="images/beian.png" alt="经营性网站备案信息" /></a><a href="#" target="_blank" title="不良信息举报中心"><img src="images/jubao.png" alt="不良信息举报中心" /></a><a href="#" target="_blank" title="网络110报警服务"><img src="images/baojin.png" alt="网络110报警服务" /></a><a href="#" target="_blank" title="网络工商"><img src="images/wlgs.png" alt="网络工商" /></a></p>
  
</div>
<!-- foot over -->
<script>
$("#FAQ-nav1 li dl dt i").click(
function(){
	if(this.className=="tree-lower"){
		$(this).parent().parent().find("dd").hide();
		this.className="tree-add";
	}else{
		$(this).parent().parent().find("dd").show();
		this.className="tree-lower";
	}
}
)
</script>
<script src="js/text.js" type="text/javascript"></script>
</body>
</html>
