$var isDisplay:
<!-- menu over -->
<div class="pageBody">
  <div id="iJS-pic">
    <div id="iJS-pic-img">
        <ul>
            <li><a href="#" target="_blank" title="#"><img src="http://pic.lvmama.com/opi/off_chunji_980x280.jpg"></a></li>
            <li><a href="#" target="_blank" title="#"><img src="http://pic.lvmama.com/opi/off_qiandaohu_980x280.jpg"></a></li>
            <li><a href="#" target="_blank" title="#"><img src="http://pic.lvmama.com/opi/off_huangshan0314_980x280.jpg"></a></li>
            <li><a href="#" target="_blank" title="#"><img src="http://pic.lvmama.com/opi/off_jiaxing_980x280.jpg"></a></li>
            <li><a href="#" target="_blank" title="#"><img src="static/images/pic1.jpg" /></a></li>
        </ul>
    </div>
    <div id="iJS-pic-list">
       <ul>
          <li class="iJS-pic-list-hover"><strong>情迷鼓浪屿</strong><br />女士立减200</li>
          <li><strong>开心驴行 沉醉云南</strong><br />让您吃住行游娱无需费心</li>
          <li><strong>三亚户外休闲</strong><br />给你别样体验</li>
          <li><strong>摄影.自驾</strong><br />带你走中国最美的海岸线</li>
          <li><strong>十泉十美</strong><br />百家温泉想泡谁就泡谁</li>
       </ul>
    </div>
  </div>
  <div class="blank10"></div>
  <div class="i-box1 fn-left">
    <div class="bgStyle1"><h2 class="title1">天天特价旅游线路</h2></div>
    <div class="border1">
      <div class="ad1"><img src="static/images/pic2.jpg" /></div>
    </div>
  </div>
  <div class="i-box1 fn-right">
    <div class="bgStyle1"><h2 class="title1">最新旅行线路 <span class="cable"><a href="#" title="一日游">一日游</a><a href="#" title="多日游">多日游</a></span></h2>
      <span class="more"><a href="#">更多</a></span>
    </div>
    <div class="border1 height1">
      <div class="listImg1 fn-left">
        <a href="#" title="#"><img src="static/images/pic3.jpg" alt="#" /></a><span><em class="color1">仅售 <b>¥520</b></em><br />
                                                   原价 <em class="Fstyle1">¥1440</em><br />
                                                   节省 ¥920</span>
        <h4><a href="#" title="#">北京直飞丽江3晚4天四星自由行</a></h4>                                                  
      </div>
      <div class="listImg1 fn-right">
        <a href="#" title="#"><img src="static/images/pic4.jpg" alt="#" /></a><span><em class="color1">仅售 <b>¥520</b></em><br />
                                                   原价 <em class="Fstyle1">¥1440</em><br />
                                                   节省 ¥920</span>
        <h4><a href="#" title="#">北京直飞丽江3晚4天四星自由行</a></h4>                                                  
      </div>
      <div class="blank10"></div>
      <ul class="list12">
         <li><span><em class="Fstyle1">￥230</em>    <em class="color2">￥199</em>   返<em class="color2">0</em> 积分</span><a href="#" title="#" target="_blank">"仅此一班"济公故里、天台山2日游</a> <img src="static/images/new.png" /></li> 
         <li><span><em class="Fstyle1">￥230</em>    <em class="color2">￥199</em>   返<em class="color2">0</em> 积分</span><a href="#" title="#" target="_blank">横店DV拍摄，亲临明星见面会，住万豪双人</a> <img src="static/images/new.png" /></li> 
         <li><span><em class="Fstyle1">￥230</em>    <em class="color2">￥199</em>   返<em class="color2">0</em> 积分</span><a href="#" title="#" target="_blank">苏州树山云泉山庄 云居双人间</a> <img src="static/images/new.png" /></li> 
         <li><span><em class="Fstyle1">￥230</em>    <em class="color2">￥199</em>   返<em class="color2">0</em> 积分</span><a href="#" title="#" target="_blank">横店DV拍摄，亲临明星见面会，住万豪双人</a> <img src="static/images/new.png" /></li> 
      </ul>
    </div>
  </div>
  
  <div class="blank10"></div>
  <div class="i-box2 fn-left">
    <div class="bgStyle1"><h2 class="title1">超值酒店推荐</h2>
      <span class="more"><a href="#">更多</a></span>
    </div>
    <div class="border1">
      <div class="hotel-box fn-left">
        <div class="list-img-box-show">
          <a href="#" target="_blank">
            <img width="200" height="120" alt="三亚国光豪生度假酒店" src="http://img02.taobaocdn.com/tps/i2/T1quKMXfRsXXXXXXXX-200-120.jpg" data-src="http://img02.taobaocdn.com/tps/i2/T1quKMXfRsXXXXXXXX-200-120.jpg" id="yui_3_3_0_1_1332812990339943" />
            <div class="arr-up"></div>
            <h3 class="img-box-item"><span class="color1">￥420</span>【杭州】开元名都大酒店</h3>
          </a>
        </div>
        
        <div class="list-img-box">
          <a href="#" target="_blank">
            <img width="200" height="120" alt="三亚金棕榈度假酒店" data-src="http://img04.taobaocdn.com/tps/i4/T1jKKMXf4sXXXXXXXX-200-120.jpg" src="http://img04.taobaocdn.com/tps/i4/T1jKKMXf4sXXXXXXXX-200-120.jpg" id="yui_3_3_0_1_1332812990339985">
            <div class="fn-hide"></div>
            <h3 class="img-box-item"><span class="color1">￥420</span>【杭州】开元名都大酒店</h3>
          </a>
        </div>
        
        <div class="list-img-box">
          <a href="#" target="_blank">
            <img width="200" height="120" alt="天域度假酒店" data-src="http://img04.taobaocdn.com/tps/i4/T1KeKMXeNsXXXXXXXX-200-120.jpg" src="http://img04.taobaocdn.com/tps/i4/T1KeKMXeNsXXXXXXXX-200-120.jpg" id="yui_3_3_0_1_1332812990339987">
            <div class="arr-up"></div>
            <h3 class="img-box-item"><span class="color1">￥420</span>【杭州】开元名都大酒店</h3>
          </a>
        </div>
        
        <div class="list-img-box">
          <a href="#" target="_blank">
            <img width="200" height="120" alt="三亚国光豪生度假酒店" src="http://img02.taobaocdn.com/tps/i2/T1quKMXfRsXXXXXXXX-200-120.jpg" data-src="http://img02.taobaocdn.com/tps/i2/T1quKMXfRsXXXXXXXX-200-120.jpg" id="yui_3_3_0_1_1332812990339943" />
            <div class="arr-up"></div>
            <h3 class="img-box-item"><span class="color1">￥420</span>【杭州】开元名都大酒店</h3>
          </a>
        </div>
      </div>
      
      <div class="hotel-box fn-left">
        <div class="list-img-box-show">
          <a href="#" target="_blank">
            <img width="200" height="120" alt="三亚国光豪生度假酒店" src="http://img02.taobaocdn.com/tps/i2/T1quKMXfRsXXXXXXXX-200-120.jpg" data-src="http://img02.taobaocdn.com/tps/i2/T1quKMXfRsXXXXXXXX-200-120.jpg" id="yui_3_3_0_1_1332812990339943" />
            <div class="arr-up"></div>
            <h3 class="img-box-item"><span class="color1">￥420</span>【杭州】开元名都大酒店</h3>
          </a>
        </div>
        
        <div class="list-img-box">
          <a href="#" target="_blank">
            <img width="200" height="120" alt="三亚金棕榈度假酒店" data-src="http://img04.taobaocdn.com/tps/i4/T1jKKMXf4sXXXXXXXX-200-120.jpg" src="http://img04.taobaocdn.com/tps/i4/T1jKKMXf4sXXXXXXXX-200-120.jpg" id="yui_3_3_0_1_1332812990339985">
            <div class="fn-hide"></div>
            <h3 class="img-box-item"><span class="color1">￥420</span>【杭州】开元名都大酒店</h3>
          </a>
        </div>
        
        <div class="list-img-box">
          <a href="#" target="_blank">
            <img width="200" height="120" alt="天域度假酒店" data-src="http://img04.taobaocdn.com/tps/i4/T1KeKMXeNsXXXXXXXX-200-120.jpg" src="http://img04.taobaocdn.com/tps/i4/T1KeKMXeNsXXXXXXXX-200-120.jpg" id="yui_3_3_0_1_1332812990339987">
            <div class="arr-up"></div>
            <h3 class="img-box-item"><span class="color1">￥420</span>【杭州】开元名都大酒店</h3>
          </a>
        </div>
        
        <div class="list-img-box">
          <a href="#" target="_blank">
            <img width="200" height="120" alt="三亚国光豪生度假酒店" src="http://img02.taobaocdn.com/tps/i2/T1quKMXfRsXXXXXXXX-200-120.jpg" data-src="http://img02.taobaocdn.com/tps/i2/T1quKMXfRsXXXXXXXX-200-120.jpg" id="yui_3_3_0_1_1332812990339943" />
            <div class="arr-up"></div>
            <h3 class="img-box-item"><span class="color1">￥420</span>【杭州】开元名都大酒店</h3>
          </a>
        </div>
      </div>
      
      <div class="hotel-box fn-left">
        <div class="list-img-box-show">
          <a href="#" target="_blank">
            <img width="200" height="120" alt="三亚国光豪生度假酒店" src="http://img02.taobaocdn.com/tps/i2/T1quKMXfRsXXXXXXXX-200-120.jpg" data-src="http://img02.taobaocdn.com/tps/i2/T1quKMXfRsXXXXXXXX-200-120.jpg" id="yui_3_3_0_1_1332812990339943" />
            <div class="arr-up"></div>
            <h3 class="img-box-item"><span class="color1">￥420</span>【杭州】开元名都大酒店</h3>
          </a>
        </div>
        
        <div class="list-img-box">
          <a href="#" target="_blank">
            <img width="200" height="120" alt="三亚金棕榈度假酒店" data-src="http://img04.taobaocdn.com/tps/i4/T1jKKMXf4sXXXXXXXX-200-120.jpg" src="http://img04.taobaocdn.com/tps/i4/T1jKKMXf4sXXXXXXXX-200-120.jpg" id="yui_3_3_0_1_1332812990339985">
            <div class="fn-hide"></div>
            <h3 class="img-box-item"><span class="color1">￥420</span>【杭州】开元名都大酒店</h3>
          </a>
        </div>
        
        <div class="list-img-box">
          <a href="#" target="_blank">
            <img width="200" height="120" alt="天域度假酒店" data-src="http://img04.taobaocdn.com/tps/i4/T1KeKMXeNsXXXXXXXX-200-120.jpg" src="http://img04.taobaocdn.com/tps/i4/T1KeKMXeNsXXXXXXXX-200-120.jpg" id="yui_3_3_0_1_1332812990339987">
            <div class="arr-up"></div>
            <h3 class="img-box-item"><span class="color1">￥420</span>【杭州】开元名都大酒店</h3>
          </a>
        </div>
        
        <div class="list-img-box">
          <a href="#" target="_blank">
            <img width="200" height="120" alt="三亚国光豪生度假酒店" src="http://img02.taobaocdn.com/tps/i2/T1quKMXfRsXXXXXXXX-200-120.jpg" data-src="http://img02.taobaocdn.com/tps/i2/T1quKMXfRsXXXXXXXX-200-120.jpg" id="yui_3_3_0_1_1332812990339943" />
            <div class="arr-up"></div>
            <h3 class="img-box-item"><span class="color1">￥420</span>【杭州】开元名都大酒店</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="ad2 fn-right"><a href="#" target="_blank"><img src="static/images/pic5.jpg" alt="#" /></a></div>
  <div class="blank10"></div>
  <div class="bgStyle1">
    <h2 class="title1">热门景区<span class="cable"><a href="#" target="_blank" title="黄龙洞">黄龙洞</a>   <a href="#" target="_blank" title="临安白水涧">临安白水涧</a>   <a href="#" target="_blank" title="杭州山沟沟">杭州山沟沟</a>   <a href="#" target="_blank" title="浙西大龙湾">浙西大龙湾</a>   <a href="#" target="_blank" title="临安太湖源">临安太湖源</a>   <a href="#" target="_blank" title="临安大明山">临安大明山</a>   <a href="#" target="_blank" title="双溪竹海">双溪竹海</a>   <a href="#" target="_blank" title="宋城">宋城</a></span></h2>
    <span class="more"><a href="#" target="_blank">更多</a></span>    
  </div>
  <div class="border1">
    <div class="i-box3">
    <div class="i-box3-img1 fn-left"><a href="#" title="#" target="_blank"><img src="static/images/pic6.jpg" alt="#" width="200" height="255" /></a><p>西湖新十景</p></div>
    <div class="i-box3-img2 fn-left">
       <div class="i-box3-img2a"><a href="#" title="#" target="_blank"><img src="static/images/pic7.jpg" alt="#" width="197" height="126" /></a><p>西湖新十景</p></div>
       <span></span>
       <div class="i-box3-img2b"><a href="#" title="#" target="_blank"><img src="static/images/pic8.jpg" alt="#" width="197" height="127" /></a><p>西湖新十景</p></div>
    </div>
    <div class="i-box3-img3 fn-left">
      <div class="i-box3-img3a"><a href="#" title="#" target="_blank"><img src="static/images/pic9.jpg" alt="#" width="395" height="127" /></a><p>西湖新十景</p></div>
      <div class="i-box3-img3b">
        <div class="fn-left i-box3-img3b-mr"><a href="#" title="#" target="_blank"><img src="static/images/pic10.jpg" alt="#" width="197" height="127" /></a><p>西湖新十景</p></div>
        <div class="fn-left i-box3-img3b-m0"><a href="#" title="#" target="_blank"><img src="static/images/pic11.jpg" alt="#" width="197" height="127" /></a><p>西湖新十景</p></div>
      </div>
    </div>
    <div class="i-box3-img4 fn-left">
      <img src="static/images/pic12.jpg" alt="#" width="183" height="255" /><p>西湖新十景</p>
    </div>
    </div>
  </div>
  <div class="blank10"></div>
  <div class="bgStyle2">
    <div class="i-box4 fn-left">
      <h2 class="title1">订购指南</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
         <li><a href="#" target="_blank" title="#">订购流程是怎么样的？</a></li> 
         <li><a href="#" target="_blank" title="#">订购时要注意什么？</a></li> 
         <li><a href="#" target="_blank" title="#">预订单是什么意思？</a></li> 
         <li><a href="#" target="_blank" title="#">想要修改订单，怎么操作？</a></li> 
         <li><a href="#" target="_blank" title="#">想要取消订单，应该怎么做？</a></li> 
         <li><a href="#" target="_blank" title="#">怎样代订机票？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">注册登录</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
        <li><a href="#" target="_blank" title="#">怎样才能成为一日游会员？ </a></li> 
        <li><a href="#" target="_blank" title="#">在哪登录会员帐号？</a></li> 
        <li><a href="#" target="_blank" title="#">如何修改我的帐号密码？ </a></li> 
        <li><a href="#" target="_blank" title="#">手机登录密码遗失，应该如何找回？</a></li> 
        <li><a href="#" target="_blank" title="#">我没注册过，为什么手机提示已注册？</a></li>  
        <li><a href="#" target="_blank" title="#">我能让客服帮我注册成为会员吗？？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">支付与取票</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
           <li><a href="#" target="_blank" title="#">付款方式有哪些？</a></li> 
           <li><a href="#" target="_blank" title="#">在线支付安全吗？</a></li> 
           <li><a href="#" target="_blank" title="#">为什么支付不成功？</a></li> 
           <li><a href="#" target="_blank" title="#">想要退款，应该怎么做？</a></li> 
           <li><a href="#" target="_blank" title="#">订单短信有什么用？二维码又是什么？</a></li> 
           <li><a href="#" target="_blank" title="#">怎么才能取票？在哪取票？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">联系与沟通</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
         <li><a href="#" target="_blank" title="#">我想咨询门票，应该怎么办？</a></li> 
         <li><a href="#" target="_blank" title="#">我有意见，在哪可以提？</a></li> 
         <li><a href="#" target="_blank" title="#">我想投诉，应该怎么反映？</a></li> 
         <li><a href="#" target="_blank" title="#">一日游定机票有折扣吗？</a></li> 
      </ul>
    </div>
    <div class="fn-clear"></div>
  </div>
  <div class="blank10"></div>
  <div class="friendlyLink">
    <h2 class="fn-left">友情链接</h2>
    <div class="fn-left">
          <a href="#" target="_blank" title="#">杭州一日游</a>
          <a href="#" target="_blank" title="#">杭州一日游</a>     
          <a href="#" target="_blank" title="#">淘宝网首页</a>     
          <a href="#" target="_blank" title="#">海南旅游</a>     
          <a href="#" target="_blank" title="#">中国酒店设计网</a>     
          <a href="#" target="_blank" title="#">乡村休闲网</a>     
          <a href="#" target="_blank" title="#">杭州旅游景点</a>     
          <a href="#" target="_blank" title="#">坝上草原旅游网</a>     
          <a href="#" target="_blank" title="#">台湾旅游论坛</a>      
          <a href="#" target="_blank" title="#">旅游景点</a>       
          <a href="#" target="_blank" title="#">淘宝商城首页</a>   
          <a href="#" target="_blank" title="#">杭州酒店网</a>   
          <a href="#" target="_blank" title="#">驴友家园网</a>         
          <a href="#" target="_blank" title="#">南宁机票</a>       
          <a href="#" target="_blank" title="#">成都旅游攻略</a>     
          <a href="#" target="_blank" title="#">江西旅游网</a>         
          <a href="#" target="_blank" title="#">京郊旅游</a>      
          <a href="#" target="_blank" title="#">特价国际机票网</a> 
          <a href="#" target="_blank" title="#">上海出境旅游</a>    
          <a href="#" target="_blank" title="#">青岛旅游网</a>   
          <a href="#" target="_blank" title="#">千岛湖</a>            
          <a href="#" target="_blank" title="#">杭州旅游</a>        
          <a href="#" target="_blank" title="#">南宁旅游</a>        
          <a href="#" target="_blank" title="#">石家庄旅游</a>         
          <a href="#" target="_blank" title="#">武汉旅游</a>
    </div>
  </div>
  <div class="blank10"></div>
</div>
<!-- foot over -->
<script type="text/javascript">
//图片轮换JS
window.onload = function(){
	var obox = document.getElementById('iJS-pic');
	var oImg = document.getElementById('iJS-pic-img');
	var aImgLi = oImg.getElementsByTagName('li');
	var oList = document.getElementById('iJS-pic-list');
	var aListLi = oList.getElementsByTagName('li');
	var i = iNo = 0;
	var playtimer = null;
	
	for(i=0;i<aListLi.length;i++){
		aImgLi[i].alpha = 0;
		aListLi[i].index = i;
		aListLi[i].onclick = function(){
			for(i=0;i<aListLi.length;i++){
				aListLi[i].className = '';
				sMove(aImgLi[i], 0);
			}
			this.className = 'iJS-pic-list-hover';
			sMove(aImgLi[this.index], 100);
			iNo = this.index;
		};
	}
	sMove(aImgLi[0], 100);
	playtimer = setInterval(tab,3000);
	
	obox.onmouseover = function(){
		clearInterval(playtimer);
	};
	
	obox.onmouseout = function(){
		playtimer = setInterval(tab,3000);
	};
	
	function tab(){
		if(iNo == aListLi.length){
			iNo = 0;
		}
		aListLi[iNo].onclick();
		iNo++
	}
	
	function sMove(obj, iT){
		clearInterval(obj.timer);
		obj.timer = setInterval(function(){
			dMove(obj, iT);
		},30);
	}
	
	function dMove(obj, iT){
		var iS = (iT - obj.alpha) / 10;
		iS = iS > 0 ? Math.ceil(iS) : Math.floor(iS);
		
		if(iT == obj.alpha){
			clearInterval(obj.timer);
		}else{
			obj.alpha += iS;
			obj.style.filter="alpha(opacity:"+obj.alpha+")";
			obj.style.opacity=obj.alpha/100;
		}
	}
};
</script>
<script type="text/javascript">
jquery(document).ready(function(){
	jquery(function(){
				jquery(".list-img-box,.list-img-box-show").hover(
					function(){
						jquery(this).parent().children().attr("class","list-img-box");
						jquery(this).attr("class","list-img-box-show");
					},
					function(){
						
					}
				)
	})

	jquery(".i-box3 p").hide();
	jquery(".i-box3-img1,.i-box3-img2a,.i-box3-img2b,.i-box3-img3a,.i-box3-img3b-mr,.i-box3-img3b-m0,.i-box3-img4").mouseover(function(){
		jquery(this).children('p').css("display","block");
	}
	);
	jquery(".i-box3-img1,.i-box3-img2a,.i-box3-img2b,.i-box3-img3a,.i-box3-img3b-mr,.i-box3-img3b-m0,.i-box3-img4").mouseout(function(){
		jquery(this).children('p').hide();
	}
	);
})
</script>
<script src="static/js/text.js" type="text/javascript"></script>
<!--[if lt IE 7]>
        <script type="text/javascript" src="static/js/DD_belatedPNG_0.0.8a-min.js"></script>
        <script>
            DD_belatedPNG.fix('#iJS-pic-list ul li,.i-box3-img1 p,.i-box3-img2a p,.i-box3-img2b p,.i-box3-img3a p,.i-box3-img3b-mr p,.i-box3-img3b-m0 p,.i-box3-img4 p');
        </script>
<![endif]-->
