<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一日游-自驾游门票祥细页</title>
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.6.2.min.js" type="text/javascript"></script>
</head>

<body>
<div id="site-nav">
  <div id="site-nav-bd">
    <p>欢迎来到一日游！请<a href="#" title="登录">登录</a>  ! <a href="#" title="免费注册">免费注册</a></p>
  </div>
</div>
<div class="blank10"></div>
<div class="masthead">
  <div class="logo fn-left"><a href="#" title="一日游">一日游</a></div>
  <div class="city-current fn-left"><strong>杭州站</strong> <i></i>
      <div class="cityAddress" style="display:none;">
        <ul>
          <li><a href="#" title="杭州站">杭州站</a></li>
          <li><a href="#" title="杭州站">上海站</a></li>
          <li><a href="#" title="杭州站">苏州站</a></li>
          <li><a href="#" title="杭州站">无锡站</a></li>
          <li><a href="#" title="杭州站">南京站</a></li>
        </ul>
      </div>
      <!--其它城市--> 
  </div>
  <div id="serch" class="fn-left">
    <div id="serch-bg">
      <div class="serch-bg-cont"><input class="s-input1" onblur="if(this.value==''){this.value='请输入目的地，关键词';}this.style.color='#999';" onclick="if(this.value=='请输入目的地，关键词'){this.value='';}this.style.color='#999';" value="请输入目的地，关键词" style="color: rgb(153, 153, 153);" /><a href="#" class="s-button1">搜索</a></div>
      
      <div id="serch-bg-left" class="fn-left"></div>
      <div id="serch-bg-right" class="fn-right"></div>
    </div>
    <p><strong>热门搜索：</strong><a href="#" title="厦门">厦门</a>  <a href="#" title="香港">香港</a>  <a href="#" title="迪拜">迪拜</a>  <a href="#" title="南京">南京</a>  <a href="#" title="苏州">苏州</a>  <a href="#" title="云南">云南</a>  <a href="#" title="成都">成都</a></p>
  </div>
  <div class="call fn-right">预定电话</div>
</div>
<div class="fn-clear"></div>
<div class="menu-nav">
  <div class="mastmenu">
    <div class="left-saixuan">
      <h3 id="j_titleBiao" class="titleBiao">杭州出发旅游 <i></i></h3>
      <div id="j_saixuanFenlei" class="saixuanFenlei" style="display: none">
        <dl class="dl1">
          <dt>杭州及周边热门景点</dt>
          <dd><a href="#" title="西湖十景">西湖十景</a></dd>
          <dd><a href="#" title="灵隐寺">灵隐寺</a></dd>
          <dd><a href="#" title="宋城">宋城</a></dd>
          <dd><a href="#" title="三谭印月">三谭印月</a></dd>
          <dd><a href="#" title="苏堤春晓">苏堤春晓</a></dd>
          <dd><a href="#" title="西塘水乡">西塘水乡</a></dd>
          <dd><a href="#" title="绍兴古城">绍兴古城</a></dd>
          <dd><a href="#" title="乌镇">乌镇</a></dd>
          <dd><a href="#" title="河坊街">河坊街</a></dd>
          <dd><a href="#" title="平湖秋月">平湖秋月</a></dd>
          <dd><a href="#" title="苏州留园">苏州留园</a></dd>
          <dd><a href="#" title="普陀山">普陀山</a></dd>
        </dl>
        <div class="fn-clear"></div>
        <dl class="dl2">
          <dt>更换出发地</dt>
          <dd><a href="#" title="杭州">杭州</a>  <a href="#" title="上海">上海</a>  <a href="#" title="苏州">苏州</a>  <a href="#" title="南京">南京</a>  <a href="#" title="北京">北京</a></dd>
        </dl>
      </div>
    </div>
    <ul id="menu">
      <li><a href="#" title="首页"><span>首页</span></a></li>
      <li><a href="#" title="一日游"><span>一日游</span></a></li>       
      <li><a href="#" title="超值酒店"><span>超值酒店</span></a></li>        
      <li><a href="#" title="旅游租车"><span>旅游租车</span></a></li>        
      <li class="nemuCurrent"><a href="#" title="自驾游门票"><span>自驾游门票</span></a></li>        
      <li><a href="#" title="周边旅游"><span>周边旅游</span></a></li> 
    </ul>  
  </div>
</div>
<!-- menu over -->
<div class="pageBody">
  <p class="li-height35 color3">您现在的位置：<a href="#" class="color3">首页</a>><a href="#" class="color3">自驾游门票</a>>杭州西湖漫步客栈（灵隐寺店）</p>
  <div class="bgStyle8 introductionXianLu-box1">
    <div class="bgColor1">
      <div class="introductionXianLu-box1-left fn-left">
         <div class="blank10"></div>
         <div class="blank10"></div>
         <h1>【门票】杭州野生动物世界成人门票</h1>
         <div class="blank10"></div>
         <div class="blank10"></div>
         <div class="blank10"></div>        
            <p>一日游价：<b class="color1 font14">￥</b> <i>398</i>/位<br />
            市 &nbsp;场 价：<em class="Fstyle1">￥728</em><br />
            支付方式：在线支付<br /></p>
            
          <div class="blank10"></div>
          <div class="bgStyle4">
            <div class="blank10"></div>
            <ul>
              <li>成&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人：（<span class="color1">￥408</span>）
                  <span class="btns">
                        <button type="button" class="button-add" onclick="updateOperator('39653','miuns')">-</button>&nbsp;<input type="text" seq="1" name="buyInfo.buyNum.product_39653" id="param39653" size="2" class="input-text1" value="4" onchange="updateOperator('39653','input')" minamt="0" maxamt="100" textnum="textNum39653" ordnum="ordNum" people="1">&nbsp;<button type="button" class="button-minus" onclick="updateOperator('39653','add')">+</button>
                  </span>
              </li>
              <li>游玩日期： <input type="text" class="input-text2"  /></li>
              <li style="margin-top:15px; _margin-top:5px;"><a href="#" class="button1">开始预定</a></li>
              <li>免费预定电话：<img src="images/telephoto.png" alt="预定电话" align="absmiddle" /> <span class="color1">(电话预定更快捷）</span></li>
            </ul>
            <div class="blank10"></div>
          </div>
      </div>
      <div class="introductionXianLu-box1-right fn-right">
        <div id="introJS-pic">
          <div id="introJS-pic-img" style="height:365px;">
            <ul>
              <li><a title="#" target="_blank" href="#"><img src="images/pic24.jpg" height="295" width="530"></a><p>杭州野生动物世界</p></li>
              <li><a title="#" target="_blank" href="#"><img src="http://pic.lvmama.com/opi/off_putuoshan0327_980x280.jpg" height="295" width="530"></a><p>气象条件对空气污染物稀释</p></li>
              <li><a title="#" target="_blank" href="#"><img src="images/pic24.jpg" height="295" width="530"></a><p>杭州野生动物世界被列入"国家教育部濒危野生动物</p></li>
              <li><a title="#" target="_blank" href="#"><img src="http://s2.lvjs.com.cn/580x290/pics/super/2011/10/61QCA.jpg" height="295" width="530"></a><p>杭州野生动物世界</p></li>
            </ul>
           </div>
           <div id="introJS-pic-list">
             <ul>
              <li class="introJS-pic-list-hover"><img src="images/pic24.jpg"></li>
              <li><img src="http://pic.lvmama.com/opi/off_putuoshan0327_980x280.jpg"></li>
              <li><img src="images/pic24.jpg"></li>
              <li><img src="http://s2.lvjs.com.cn/580x290/pics/super/2011/10/61QCA.jpg"></li>
             </ul>
           </div>   
        </div>
        <script type="text/javascript">
window.onload = function(){
	var obox = document.getElementById('introJS-pic');
	var oImg = document.getElementById('introJS-pic-img');
	var aImgLi = oImg.getElementsByTagName('li');
	var oList = document.getElementById('introJS-pic-list');
	var aListLi = oList.getElementsByTagName('li');
	var i = iNo = 0;
	var playtimer = null;
	
	for(i=0;i<aListLi.length;i++){
		aImgLi[i].alpha = 0;
		aListLi[i].index = i;
		aListLi[i].onclick = function(){
			for(i=0;i<aListLi.length;i++){
				aListLi[i].className = '';
				sMove(aImgLi[i], 0);
			}
			this.className = 'introJS-pic-list-hover';
			sMove(aImgLi[this.index], 100);
			iNo = this.index;
		};
	}
	sMove(aImgLi[0], 100);
	playtimer = setInterval(tab,3000);
	
	obox.onmouseover = function(){
		clearInterval(playtimer);
	};
	
	obox.onmouseout = function(){
		playtimer = setInterval(tab,3000);
	};
	
	function tab(){
		if(iNo == aListLi.length){
			iNo = 0;
		}
		aListLi[iNo].onclick();
		iNo++
	}
	
	function sMove(obj, iT){
		clearInterval(obj.timer);
		obj.timer = setInterval(function(){
			dMove(obj, iT);
		},30);
	}
	
	function dMove(obj, iT){
		var iS = (iT - obj.alpha) / 10;
		iS = iS > 0 ? Math.ceil(iS) : Math.floor(iS);
		
		if(iT == obj.alpha){
			clearInterval(obj.timer);
		}else{
			obj.alpha += iS;
			obj.style.filter="alpha(opacity:"+obj.alpha+")";
			obj.style.opacity=obj.alpha/100;
		}
	}
};
</script>
      </div>
      <!-- 图片伦换  over-->      
    </div>
    <div class="introductionXianLu-shadow"></div>
  </div>
  <div class="blank10"></div>
  <div class="border4">
     <h2 class="bgColor2 font14 color3 paLeft20 li-height35"><strong>重要说明</strong></h2>
     <div class="introductionXianLu-box2">
       本公司为杭州正规旅行社，注册资金240万<a href="#"><strong>【营业执照】</strong></a>（而非注册资金30万的普通旅行社）。本公司为杭州长客集团下属单位，主营杭州一日游，上海一日游，苏州一日游，南京一日游，北京一日游，未来将扩展到更多城市，我们拥有专业的团队，品质的服务。现有网络出现不少盗用本公司网络资源，在忽悠客人。请大家认准我们一日游官方网站yiriyou.com，与24小时客服免费咨询热线400 886 9500 以防受骗。
     </div>
  </div>
  <div class="blank10"></div>
  <div class="border1">
    <h2 class="bgColor3 font14 color3 paLeft20 li-height35"><strong>产品特色</strong></h2>
    <div class="introductionXianLu-box3">
      <p>杭州野生动物世界位于浙江省杭州市区西南郊的富阳银湖开发区，是动物保护、动物繁殖、濒危动物救护与保护、文化科普教育、动物科学研究及野生动物资源利用与开发为一体的观光游览、休闲娱乐的综合性生态公园。被国家旅游局命名为"AAAA级旅游景区"，是浙江省最具影响力的景区之一。杭州野生动物世界被列入"国家教育部濒危野生动物保护与繁育重点实验室、科学研究基地"、"浙江省濒危野生动物救护中心"、"浙江省青少年科普教育基地"。
      </p>
      <div class="blank10"></div><div class="blank10"></div>
      <div align="center"><img src="images/pic23.jpg" /></div>
      <div class="blank10"></div><div class="blank10"></div>
      <p>杭州野生动物世界有来自世界各地的几百种珍禽异兽和中国一级、二级保护动物近万只,园内共有3个演艺场：大象演艺场、飞禽演艺场、蓝宝石中心演艺场,动物世界内精彩纷呈的动物表演，是杭州野生动物世界对"人与动物共同拥有一个地球"的最好诠释。</p>
      
    </div>
    <div class="blank10"></div>
    <div class="bgStyle9"><h2 class="paLeft20 font14 color3"><strong>费用包含</strong></h2></div>
    <div class="introductionXianLu-box3">
      <p>杭州野生动物园成人门票1张 门市价150元/张</p>
    </div>
    <div class="bgStyle9"><h2 class="paLeft20 font14 color3"><strong>特别提示</strong></h2></div>
    <div class="introductionXianLu-box3">
        <p><b>交通信息</b><br />
自驾车路线<br />
上海出发：沪杭高速——杭州绕城——绕城9号口下——杭州野生动物世界太阳城假日酒店<br />
南京出发：杭宁高速——杭州绕城——绕城9号口下——杭州野生动物世界太阳城假日酒店<br />
杭州出发：杭州绕城西线——转塘出口下——富阳方向——杭州野生动物世界 <br />
乘车路线<br />
杭州火车站旁（杭州——富阳中巴直达）——杭州野生动物世界<br /> 
杭州市区乘坐514路公交——杭州野生动物世界 <br />
<b>预订须知</b><br />
1.2米-1.5米儿童请购买儿童票，1.2米以下儿童免票<br /> 
开放时间：09：00-17：00（黄金周除外） <br />
取票地址：杭州野生动物世界游客接待中心 </p>    
    </div>
    <div class="bgStyle9"><h2 class="paLeft20 font14 color3"><strong>包含景点</strong></h2></div>
    <div class="introductionXianLu-box3">
<p>杭州野生动物世界占地3500亩，投资2．3亿元，于2000年8月破土动工，定于1月28日对外试营业。每天能接待6万名游客。园内的动物约有200种，1万多头（只），其中园内国外的珍稀动物约占70％。</p>　　 
<div class="blank10"></div>
<p>园内共有3个演艺场：大象演艺场、飞禽演艺场、蓝宝石中心演艺场。28日开放的是能容纳2000人的大象演艺场，大象踢足球、扣篮等表演会令人捧腹不已。其余两个演艺场要在春节后开放。其中，蓝宝石中心演艺场将能容纳8000人，俄罗斯等国的马戏团都将在此献艺。</p>
<div class="blank10"></div>　　
<p>园区地处亚热带季风气候区，年平均温度16．6摄氏度，雨量充沛，适宜多种植物生长和野生动物栖息繁殖。园内山峦起伏，水资源丰富，拥有天然水库4个、山涧小溪无数。</p> 
    </div>
  </div>
  <div class="blank10"></div>
  <div class="border1">
    <h2 class="bgColor3 font14 color3 paLeft20 li-height35"><strong>用户评论</strong></h2>
    <div class="introductionXianLu-list">
      <span><a href="#"><img src="http://tp4.sinaimg.cn/2305422347/50/5608434060/1" alt="#" /></a></span>
      <h3><span class="color6"><a href="#">风一样的年华</a> </span>          <span class="paLeft20">点评积分：<i class="color2">41</i>分</span></h3>
      <p><span>2012-03-12 10:40:23</span>游玩的人很多 去的时候正好是一个好天气，玩的很开心，风景很漂亮。</p>
    </div>
    <div class="introductionXianLu-list">
      <span><a href="#"><img src="http://tp4.sinaimg.cn/2305422347/50/5608434060/1" alt="#" /></a></span>
      <h3><span class="color6"><a href="#">风一样的年华</a> </span>          <span class="paLeft20">点评积分：<i class="color2">41</i>分</span></h3>
      <p><span>2012-03-12 10:40:23</span>游玩的人很多 去的时候正好是一个好天气，玩的很开心，风景很漂亮。</p>
    </div>
    <div class="introductionXianLu-list">
      <span><a href="#"><img src="http://tp4.sinaimg.cn/2305422347/50/5608434060/1" alt="#" /></a></span>
      <h3><span class="color6"><a href="#">风一样的年华</a> </span>          <span class="paLeft20">点评积分：<i class="color2">41</i>分</span></h3>
      <p><span>2012-03-12 10:40:23</span>游玩的人很多 去的时候正好是一个好天气，玩的很开心，风景很漂亮。</p>
    </div>
    <div class="introductionXianLu-list">
      <span><a href="#"><img src="http://tp4.sinaimg.cn/2305422347/50/5608434060/1" alt="#" /></a></span>
      <h3><span class="color6"><a href="#">风一样的年华</a> </span>          <span class="paLeft20">点评积分：<i class="color2">41</i>分</span></h3>
      <p><span>2012-03-12 10:40:23</span>游玩的人很多 去的时候正好是一个好天气，玩的很开心，风景很漂亮。</p>
    </div>
    <div class="introductionXianLu-list">
      <span><a href="#"><img src="http://tp4.sinaimg.cn/2305422347/50/5608434060/1" alt="#" /></a></span>
      <h3><span class="color6"><a href="#">风一样的年华</a> </span>          <span class="paLeft20">点评积分：<i class="color2">41</i>分</span></h3>
      <p><span>2012-03-12 10:40:23</span>游玩的人很多 去的时候正好是一个好天气，玩的很开心，风景很漂亮。</p>
    </div>
    <div class="introductionXianLu-list">
      <span><a href="#"><img src="http://tp4.sinaimg.cn/2305422347/50/5608434060/1" alt="#" /></a></span>
      <h3><span class="color6"><a href="#">风一样的年华</a> </span>          <span class="paLeft20">点评积分：<i class="color2">41</i>分</span></h3>
      <p><span>2012-03-12 10:40:23</span>游玩的人很多 去的时候正好是一个好天气，玩的很开心，风景很漂亮。</p>
    </div>
    <div class="introductionXianLu-list">
      <span><a href="#"><img src="http://tp4.sinaimg.cn/2305422347/50/5608434060/1" alt="#" /></a></span>
      <h3><span class="color6"><a href="#">风一样的年华</a> </span>          <span class="paLeft20">点评积分：<i class="color2">41</i>分</span></h3>
      <p><span>2012-03-12 10:40:23</span>游玩的人很多 去的时候正好是一个好天气，玩的很开心，风景很漂亮。</p>
    </div>
    <div class="introductionXianLu-list">
      <span><a href="#"><img src="http://tp4.sinaimg.cn/2305422347/50/5608434060/1" alt="#" /></a></span>
      <h3><span class="color6"><a href="#">风一样的年华</a> </span>          <span class="paLeft20">点评积分：<i class="color2">41</i>分</span></h3>
      <p><span>2012-03-12 10:40:23</span>游玩的人很多 去的时候正好是一个好天气，玩的很开心，风景很漂亮。</p>
    </div>
    <div class="fy">
      <span>上一页</span><a href="#" class="current">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><i>...</i><a href="#">36</a><a href="#" class="next">下一页</a>
    </div>
    <div class="blank10"></div>
  </div>
  <div class="blank10"></div>
  <!-- 底部 -->
  <div class="bgStyle2">
    <div class="i-box4 fn-left">
      <h2 class="title1">预定帮助</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
         <li><a href="#" target="_blank" title="#">订购流程是怎么样的？</a></li> 
         <li><a href="#" target="_blank" title="#">订购时要注意什么？</a></li> 
         <li><a href="#" target="_blank" title="#">预订单是什么意思？</a></li> 
         <li><a href="#" target="_blank" title="#">想要修改订单，怎么操作？</a></li> 
         <li><a href="#" target="_blank" title="#">想要取消订单，应该怎么做？</a></li> 
         <li><a href="#" target="_blank" title="#">怎样代订机票？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">服务保障</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
        <li><a href="#" target="_blank" title="#">怎样才能成为一日游会员？ </a></li> 
        <li><a href="#" target="_blank" title="#">在哪登录会员帐号？</a></li> 
        <li><a href="#" target="_blank" title="#">如何修改我的帐号密码？ </a></li> 
        <li><a href="#" target="_blank" title="#">手机登录密码遗失，应该如何找回？</a></li> 
        <li><a href="#" target="_blank" title="#">我没注册过，为什么手机提示已注册？</a></li>  
        <li><a href="#" target="_blank" title="#">我能让客服帮我注册成为会员吗？？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">合同签署</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
           <li><a href="#" target="_blank" title="#">付款方式有哪些？</a></li> 
           <li><a href="#" target="_blank" title="#">在线支付安全吗？</a></li> 
           <li><a href="#" target="_blank" title="#">为什么支付不成功？</a></li> 
           <li><a href="#" target="_blank" title="#">想要退款，应该怎么做？</a></li> 
           <li><a href="#" target="_blank" title="#">订单短信有什么用？二维码又是什么？</a></li> 
           <li><a href="#" target="_blank" title="#">怎么才能取票？在哪取票？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">联系与沟通</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
         <li><a href="#" target="_blank" title="#">我想咨询门票，应该怎么办？</a></li> 
         <li><a href="#" target="_blank" title="#">我有意见，在哪可以提？</a></li> 
         <li><a href="#" target="_blank" title="#">我想投诉，应该怎么反映？</a></li> 
         <li><a href="#" target="_blank" title="#">一日游定机票有折扣吗？</a></li> 
      </ul>
    </div>
    <div class="fn-clear"></div>
  </div>
</div>
<div class="blank10"></div>
<!-- foot -->
<div id="foot">
<div class="blank10"></div>
<p><a href="#" target="_blank" title="关于我们">关于我们</a> | <a href="#" target="_blank" title="联系我们">联系我们</a> | <a href="#" target="_blank" title="支付方式">支付方式</a><br />
版权所有 浙ICP备10212438号<br /> 
地址: 杭州市莫干山路246号 <span class="paLeft10">电话: 0571-88468666</span>     <span class="paLeft10">经营许可证:L-ZJ00029</span>    <span class="paLeft10">免费咨询电话:400-886-9500</span><br />
Copyright © EuHangzhou.com. All Rights Reserved.<br />
  </p>
  <p><a href="#" target="_blank" title="经营性网站备案信息"><img src="images/beian.png" alt="经营性网站备案信息" /></a><a href="#" target="_blank" title="不良信息举报中心"><img src="images/jubao.png" alt="不良信息举报中心" /></a><a href="#" target="_blank" title="网络110报警服务"><img src="images/baojin.png" alt="网络110报警服务" /></a><a href="#" target="_blank" title="网络工商"><img src="images/wlgs.png" alt="网络工商" /></a></p>
  
</div>
<!-- foot over -->
<script src="js/text.js" type="text/javascript"></script>
<!--[if lt IE 7]>
        <script type="text/javascript" src="js/DD_belatedPNG_0.0.8a-min.js"></script>
        <script>
            DD_belatedPNG.fix('#introJS-pic-img ul li p');
        </script>
<![endif]-->
</body>
</html>
