<!-- menu over -->
<div class="pageBody">
  <div class="blank8"></div> 
  <h2 class="login-title">登录一日游</h2>
  <div class="border5 login-box">
    <ul>
      <li>帐号： <input class="input-text4" /></li>
      <li>密码： <input class="input-text4" /> <a href="#" class="font12">忘记密码？</a></li>
      <li><span><input type="radio" /> 下次自动登录</span> </li>
      <li><button class="button3"></button></li>
    </ul>
    <div class="blank10"></div>
    <div class="login-border"></div>
    <div class="blank10"></div>
    <div style="padding-left:88px;">还不是一日游会员？<a href="#">立即注册</a></div>
    <div class="blank10"></div>
    <div class="blank10"></div>
    <div class="blank10"></div>
    <div class="register-yuan1"></div>
    <div class="register-yuan2"></div>
    <div class="register-yuan3"></div>
    <div class="register-yuan4"></div>
  </div>  
</div>
