\<!-- menu over -->
<div class="pageBody">
  <div class="blank8"></div>
  <div class="blank10"></div>
  <div class="ad3"><img src="images/pic18.jpg" alt="#" /></div>
  <div class="blank10"></div>
  <div class="bgStyle7"><h2 class="title2">景点基本信息</h2></div>
  <div class="jq-box1">
    <p>
      景点级别：AAAAA<br />
      开放时间：7：20－22：00<br />
      门票价格：100-150元 <span>（东栅门票是100元/张；白天进西栅是120元/人 ，晚上进西栅是80元/人；如果时间充裕的话，选择150元/张的东西栅联票）</span><br />
      电    话：0573－88731088<br />
      地    址：浙江省嘉兴桐乡石佛南路18号<br />
    </p>
  </div>
  <div class="bgStyle6 jq-box2">
    <h2>了解乌镇</h2>
    <p>在江南水乡，有不少像乌镇这样的古镇，美丽宁静得像一颗颗珍珠。乌镇除了拥有大家都具备的小桥、流水、人家的水乡风情和精巧雅致的民居建筑之外，更多地飘逸着一股浓郁的历史和文化气息。这可能是它的历史最为悠久、文化最为发达的的缘故。</p>

<p>乌镇古时候称为乌墩，春秋时此地为吴疆越界，到唐代咸通年间始称乌镇。</p>

<p>乌镇位于桐乡市北部，西临湖州市，北界江苏省吴江县，东南与濮院、龙翔街道等毗连，东北接嘉兴市秀洲区。历史上曾是两省(浙江、江苏)三府(嘉兴、湖州、苏州)七县(桐乡、石门、秀水、乌程、归安、吴江、震泽)错壤之地。今为附近乡镇经济、文化、交通中心。</p>

<p>乌镇地势平坦，无山丘，河流纵横交织，气候温和湿润，雨量充沛，光照充足，物产丰富，素有"鱼米之乡、丝绸之府"之称。</p>
    <h2>最佳旅游时间</h2>
    <p>乌镇的气候与嘉兴、西塘无多大区别。一年中最美的季节是春天与秋天。一天中最美的时候是清晨与傍晚。清晨，河道上会漫起薄薄的雾气，仿佛梦境。傍晚，夕阳西照，游人散尽，一个生活着的乌镇出现在眼前。</p>

<p>春季的乌镇有盛开的腊梅，桃花，泡桐，柳绿和古镇相映成趣，你可以领略到烟花三月下江南的意境。</p>

<p>请避免夏季正午时去乌镇游览，白晃晃的日光直直地晒下来，也没什么廊棚可遮挡，让人感觉非常不好。</p>
    <h2>饮食</h2>
    <p>春天流行吃春笋，可以去临水的乌镇西栅民宿房东家里，炒上几个家常小菜，其中一定要点酱鸭和春笋蒸咸肉，是当地的特色，还有春天的野菜油豆腐，青团子、定胜糕，是不得不尝的。除了一日三餐还想饱享乌镇美食，那么可以去到西栅水市口，那里都是一些小吃店，馄饨、面、炸鸡块、臭豆腐、粉丝汤都应有尽有。</p>
    <h2>购物</h2>
    <p>乌镇商业区以中市为中心，东南西北四栅各成系统，又有自己的中心，成了较为完善的商业网络。如东栅的中心是财神湾，全镇最大的水产集散中心就在这里，乌镇最大的批发零售商徐恒裕东号和西号也在这里。林家铺子旁有锦和斋，经营南北货物，声誉极盛，至今尚存。</p>

<p>在乌镇，您随处可以买到乌镇及桐乡的著名特产，如：姑嫂饼、杭白菊、三珍斋酱鸭、乌镇羊肉、熏豆茶、三白酒等，其中尤以"姑嫂饼"、"杭白菊"最为出名。 在乌镇外围，有黄金水岸为中心的商铺作为一个新兴的商业区，已经开设了很多家超市、蚕丝被等商场。</p>


    <h2>活动</h2>
    <p>特色活动皮影戏介绍：又称戏影人生、土电影，起源于北宋时的北方，南宋时传到江南一带。在江南已有800多年的历史，乌镇皮影戏属南派。至抗战前后，乌镇尚有12个皮影戏班子，走乡串镇，演出颇多。解放后随着电影的发展而日趋减少，至文革中完全停止，大量的道具也在"破四旧"中被付之一炬。</p>

<p>时间：8：30——11：20　13：00——16：30　共21场 每隔十分钟一场</p>

<p>皮影戏表演的内容如下：《龟与鹤》《三借芭蕉扇》 《血溅鸳鸯楼》</p>
    <h2>文化地理</h2>
    <p>由于处于杭嘉湖平原腹地，属亚热带季风气候，温和湿润、四季分明，雨量丰富，年气温16℃，一月气温３℃， 七月气温30℃以下；年降水量1200毫米，以春雨、梅雨为主夏秋之际有台风侵袭。</p>

<p>一年中最美的季节是春天与秋天。一天中最美的时候是清晨与傍晚。清晨，河道上会漫起薄薄的雾气，仿佛梦境。傍晚，夕阳西照，游人散尽，一个生活着的乌镇出现在眼前。</p>

  </div>
  <div class="blank10"></div>
  <!-- 底部 -->
  <div class="bgStyle2">
    <div class="i-box4 fn-left">
      <h2 class="title1">预定帮助</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
         <li><a href="#" target="_blank" title="#">订购流程是怎么样的？</a></li> 
         <li><a href="#" target="_blank" title="#">订购时要注意什么？</a></li> 
         <li><a href="#" target="_blank" title="#">预订单是什么意思？</a></li> 
         <li><a href="#" target="_blank" title="#">想要修改订单，怎么操作？</a></li> 
         <li><a href="#" target="_blank" title="#">想要取消订单，应该怎么做？</a></li> 
         <li><a href="#" target="_blank" title="#">怎样代订机票？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">服务保障</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
        <li><a href="#" target="_blank" title="#">怎样才能成为一日游会员？ </a></li> 
        <li><a href="#" target="_blank" title="#">在哪登录会员帐号？</a></li> 
        <li><a href="#" target="_blank" title="#">如何修改我的帐号密码？ </a></li> 
        <li><a href="#" target="_blank" title="#">手机登录密码遗失，应该如何找回？</a></li> 
        <li><a href="#" target="_blank" title="#">我没注册过，为什么手机提示已注册？</a></li>  
        <li><a href="#" target="_blank" title="#">我能让客服帮我注册成为会员吗？？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">合同签署</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
           <li><a href="#" target="_blank" title="#">付款方式有哪些？</a></li> 
           <li><a href="#" target="_blank" title="#">在线支付安全吗？</a></li> 
           <li><a href="#" target="_blank" title="#">为什么支付不成功？</a></li> 
           <li><a href="#" target="_blank" title="#">想要退款，应该怎么做？</a></li> 
           <li><a href="#" target="_blank" title="#">订单短信有什么用？二维码又是什么？</a></li> 
           <li><a href="#" target="_blank" title="#">怎么才能取票？在哪取票？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">联系与沟通</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
         <li><a href="#" target="_blank" title="#">我想咨询门票，应该怎么办？</a></li> 
         <li><a href="#" target="_blank" title="#">我有意见，在哪可以提？</a></li> 
         <li><a href="#" target="_blank" title="#">我想投诉，应该怎么反映？</a></li> 
         <li><a href="#" target="_blank" title="#">一日游定机票有折扣吗？</a></li> 
      </ul>
    </div>
    <div class="fn-clear"></div>
  </div>
</div>
<div class="blank10"></div>

