<!-- menu over -->
<div class="pageBody">
  <div class="bgStyle6 productList-box3">
    <div class="productList-box3-title">魅力乌镇</div>
    <span><img src="images/pic17.jpg" alt="#" /></span>
    <div class="productList-box3-right fn-right">
      <h1>了解乌镇</h1>
      <ul>
      <li><b>景点级别：</b>AAAA</li>
      <li><b>开放时间：</b>7:20-22:00</li>
      <li><b>门票价格：</b>100-150元</li>
      <li><b>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：</b>0573-88731088</li>
      <li><b>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</b>浙江省嘉兴市桐乡县石佛南路18号</li>
      </ul>
      <p>在江南水乡，有不少像乌镇这样的古镇，美丽宁静得像一颗颗珍珠。乌镇除了拥有大家都具备的小桥、流水、人家的水乡风情和精巧雅致的民居建筑之外，更多地飘逸着一股浓郁的历史和文化气息。这可能是它的历史最为悠久、文化最为发达的的缘故。
乌镇古时候称为乌墩，春秋时此地为吴疆越界，到唐代咸通年间始称乌镇。
乌镇位于桐乡市北部，西临湖州市，北界江苏省吴江县，东南与濮院、龙翔街道等毗连，东北接嘉兴市秀洲区。历史上曾是两省(浙江、江苏)三府(嘉兴、湖州、苏州)七县(桐乡、石门、秀水、乌程、归安、吴江、震泽)错壤之地。今为附近乡镇经济、文化、交通中心。</p>
      <span><a href="#">更多</a></span>
    </div>
  </div>
  <div class="blank10"></div>
  <div class="productList-box2 bgStyle4 fn-left">
    <h2 class="title1 bgStyle5">热门旅游目的地</h2>
    <dl>
      <dt>山水景观</dt>
      <dd><a href="#" title="天目湖">天目湖</a>    
      <a href="#" title="太湖">太湖</a>    
      <a href="#" title="雁荡山">雁荡山</a>
      <a href="#" title="大明山">大明山</a>
      <a href="#" title="千岛湖">千岛湖</a>
      <a href="#" title="天目溪">天目溪</a>
      <a href="#" title="西湖">西湖</a></dd>
      
      <dt>温泉</dt>
      <dd><a href="#" title="御水温泉">御水温泉</a>    
      <a href="#" title="恐龙谷">恐龙谷</a>    
      <a href="#" title="醉翁泉">醉翁泉</a>
      <a href="#" title="大唐风温. 沁温泉 ">大唐风温. 沁温泉 </a></dd>
      
      <dt>主题乐园</dt>
      <dd><a href="#" title="横店">横店</a>    
      <a href="#" title="恐龙园">恐龙园</a>    
      <a href="#" title="宋城">宋城</a></dd>
      
      <dt>古镇村落</dt>
      <dd><a href="#" title="乌镇">乌镇</a>    
      <a href="#" title="同里">同里</a>    
      <a href="#" title="西塘">西塘</a>
      <a href="#" title="周庄">周庄</a>
      <a href="#" title="唐模">唐模</a></dd>
      
      <dt>海滨岛屿</dt>
      <dd><a href="#" title="普陀山">普陀山</a></dd>
      
      <dt>浙江</dt>
      <dd><a href="#" title="杭州">杭州</a>    
      <a href="#" title="宁波">宁波</a>    
      <a href="#" title="金华">金华</a>
      <a href="#" title="嘉兴">嘉兴</a>
      <a href="#" title="绍兴">绍兴</a>
      <a href="#" title="舟山">舟山</a>
      <a href="#" title="安吉">安吉</a>
      <a href="#" title="台州">台州</a>
      <a href="#" title="安吉">桐庐</a></dd>
      
      <dt>江苏</dt>
      <dd><a href="#" title="南京">南京</a>    
      <a href="#" title="苏州">苏州</a>    
      <a href="#" title="无锡">无锡</a>
      <a href="#" title="常州">常州</a></dd>
    </dl>
    <div class="blank10"></div>
  </div>
  <div class="productList-box1 border3 fn-right">
    <div class="bgStyle3">
      <div class="around-saixuan">
        <dl><dt>出发城市：</dt> <dd><a href="#" class="hove">杭州周边</a><a href="#">上海周边</a><a href="#">苏州周边</a><a href="#">南京周边</a><a href="#">上海周边</a></dd></dl>
        <div class="fn-clear"></div>
        <dl><dt>行程天数：</dt> <dd><a href="#" class="hove">全部</a><a href="#">1日</a><a href="#">多日</a></dd></dl>
        <div class="fn-clear"></div>
      </div>
    </div>
    <div class="around-list">
      <div class="list-img fn-left"><img src="http://pic3.lvmama.com/pics/super/2011/10/O0BKA.jpg"></div>
      <div class="list-introduction2 fn-left">
        <h2><strong><a href="/product" title="#" target="_blank">[开心驴行—枕水江南乌镇纯玩1日游]</a></strong></h2>
        <p>带着被春风放飞的心情，我们一起去踏青，一起去看花红柳绿，一起去看这人间醉美乡村。</p>
      </div>
      <div class="list-charge fn-left">￥<i>298</i></div>
      <div class="list-integral fn-left">返<b class="color1 font14">30</b>积分</div>
      <div class="list-caozuo fn-right"><a href="#">抢订</a></div>
    </div>
    <div class="around-list">
      <div class="list-img fn-left"><img src="http://pic3.lvmama.com/pics/super/2011/10/O0BKA.jpg"></div>
      <div class="list-introduction2 fn-left">
        <h2><strong><a href="#" title="#" target="_blank">[杭州-乌镇-千岛湖3日游]</a></strong></h2>
        <p>带着被春风放飞的心情，我们一起去踏青，一起去看花红柳绿，一起去看这人间醉美乡村。</p>
      </div>
      <div class="list-charge fn-left">￥<i>298</i></div>
      <div class="list-integral fn-left">返<b class="color1 font14">30</b>积分</div>
      <div class="list-caozuo fn-right"><a href="#">抢订</a></div>
    </div>
    <div class="around-list">
      <div class="list-img fn-left"><img src="http://pic3.lvmama.com/pics/super/2011/10/O0BKA.jpg"></div>
      <div class="list-introduction2 fn-left">
        <h2><strong><a href="#" title="梦里水乡享受慢时光乌镇东栅、西栅双人2日助游" target="_blank">["梦里水乡"享受慢时光乌镇东栅、西栅双人2日自助游]  </a></strong></h2>
        <p>带着被春风放飞的心情，我们一起去踏青，一起去看花红柳绿，一起去看这人间醉美乡村。</p>
      </div>
      <div class="list-charge fn-left">￥<i>298</i></div>
      <div class="list-integral fn-left">返<b class="color1 font14">30</b>积分</div>
      <div class="list-caozuo fn-right"><a href="#">抢订</a></div>
    </div>
    <div class="around-list">
      <div class="list-img fn-left"><img src="http://pic3.lvmama.com/pics/super/2011/10/O0BKA.jpg"></div>
      <div class="list-introduction2 fn-left">
        <h2><strong><a href="#" title="#" target="_blank">[婺源2日游让您感受超凡脱俗的中国最美丽的乡村世界]</a></strong></h2>
        <p>带着被春风放飞的心情，我们一起去踏青，一起去看花红柳绿，一起去看这人间醉美乡村。</p>
      </div>
      <div class="list-charge fn-left">￥<i>298</i></div>
      <div class="list-integral fn-left">返<b class="color1 font14">30</b>积分</div>
      <div class="list-caozuo fn-right"><a href="#">抢订</a></div>
    </div>
    <div class="around-list">
      <div class="list-img fn-left"><img src="http://pic3.lvmama.com/pics/super/2011/10/O0BKA.jpg"></div>
      <div class="list-introduction2 fn-left">
        <h2><strong><a href="#" title="#" target="_blank">[婺源2日游中国最美丽的乡村]</a></strong></h2>
        <p>带着被春风放飞的心情，我们一起去踏青，一起去看花红柳绿，一起去看这人间醉美乡村。</p>
      </div>
      <div class="list-charge fn-left">￥<i>298</i></div>
      <div class="list-integral fn-left">返<b class="color1 font14">30</b>积分</div>
      <div class="list-caozuo fn-right"><a href="#">抢订</a></div>
    </div>
    <div class="around-list">
      <div class="list-img fn-left"><img src="http://pic3.lvmama.com/pics/super/2011/10/O0BKA.jpg"></div>
      <div class="list-introduction2 fn-left">
        <h2><strong><a href="#" title="#" target="_blank">[婺源2日游中国最美丽的乡村]</a></strong></h2>
        <p>带着被春风放飞的心情，我们一起去踏青，一起去看花红柳绿，一起去看这人间醉美乡村。</p>
      </div>
      <div class="list-charge fn-left">￥<i>298</i></div>
      <div class="list-integral fn-left">返<b class="color1 font14">30</b>积分</div>
      <div class="list-caozuo fn-right"><a href="#">抢订</a></div>
    </div>
    <div class="around-list">
      <div class="list-img fn-left"><img src="http://pic3.lvmama.com/pics/super/2011/10/O0BKA.jpg"></div>
      <div class="list-introduction2 fn-left">
        <h2><strong><a href="#" title="#" target="_blank">[婺源2日游让您感受超凡脱俗的世界]</a></strong></h2>
        <p>带着被春风放飞的心情，我们一起去踏青，一起去看花红柳绿，一起去看这人间醉美乡村。</p>
      </div>
      <div class="list-charge fn-left">￥<i>298</i></div>
      <div class="list-integral fn-left">返<b class="color1 font14">30</b>积分</div>
      <div class="list-caozuo fn-right"><a href="#">抢订</a></div>
    </div>
    <div class="around-list">
      <div class="list-img fn-left"><img src="http://pic3.lvmama.com/pics/super/2011/10/O0BKA.jpg"></div>
      <div class="list-introduction2 fn-left">
        <h2><strong><a href="#" title="#" target="_blank">[婺源2日游中国最美丽的乡村]</a></strong></h2>
        <p>带着被春风放飞的心情，我们一起去踏青，一起去看花红柳绿，一起去看这人间醉美乡村。</p>
      </div>
      <div class="list-charge fn-left">￥<i>298</i></div>
      <div class="list-integral fn-left">返<b class="color1 font14">30</b>积分</div>
      <div class="list-caozuo fn-right"><a href="#">抢订</a></div>
    </div>
    <div class="around-list">
      <div class="list-img fn-left"><img src="http://pic3.lvmama.com/pics/super/2011/10/O0BKA.jpg"></div>
      <div class="list-introduction2 fn-left">
        <h2><strong><a href="#" title="#" target="_blank">[婺源2日游让您感受超凡脱世界]</a></strong></h2>
        <p>带着被春风放飞的心情，我们一起去踏青，一起去看花红柳绿，一起去看这人间醉美乡村。</p>
      </div>
      <div class="list-charge fn-left">￥<i>298</i></div>
      <div class="list-integral fn-left">返<b class="color1 font14">30</b>积分</div>
      <div class="list-caozuo fn-right"><a href="#">抢订</a></div>
    </div>
    <div class="around-list">
      <div class="list-img fn-left"><img src="http://pic3.lvmama.com/pics/super/2011/10/O0BKA.jpg"></div>
      <div class="list-introduction2 fn-left">
        <h2><strong><a href="#" title="#" target="_blank">[婺源2日游中国最美丽的乡村让您感]</a></strong></h2>
        <p>带着被春风放飞的心情，我们一起去踏青，一起去看花红柳绿，一起去看这人间醉美乡村。</p>
      </div>
      <div class="list-charge fn-left">￥<i>298</i></div>
      <div class="list-integral fn-left">返<b class="color1 font14">30</b>积分</div>
      <div class="list-caozuo fn-right"><a href="#">抢订</a></div>
    </div>
    <!--list over-->
    <div class="blank10"></div>
    <div class="bgStyle3"><p class="font14 t-align-c li-height35"><strong><a href="#">更多路线>></a></strong></p></div>
  </div>
  <div class="blank10"></div>
  <!-- 底部 -->
  <div class="bgStyle2">
    <div class="i-box4 fn-left">
      <h2 class="title1">预定帮助</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
         <li><a href="#" target="_blank" title="#">订购流程是怎么样的？</a></li> 
         <li><a href="#" target="_blank" title="#">订购时要注意什么？</a></li> 
         <li><a href="#" target="_blank" title="#">预订单是什么意思？</a></li> 
         <li><a href="#" target="_blank" title="#">想要修改订单，怎么操作？</a></li> 
         <li><a href="#" target="_blank" title="#">想要取消订单，应该怎么做？</a></li> 
         <li><a href="#" target="_blank" title="#">怎样代订机票？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">服务保障</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
        <li><a href="#" target="_blank" title="#">怎样才能成为一日游会员？ </a></li> 
        <li><a href="#" target="_blank" title="#">在哪登录会员帐号？</a></li> 
        <li><a href="#" target="_blank" title="#">如何修改我的帐号密码？ </a></li> 
        <li><a href="#" target="_blank" title="#">手机登录密码遗失，应该如何找回？</a></li> 
        <li><a href="#" target="_blank" title="#">我没注册过，为什么手机提示已注册？</a></li>  
        <li><a href="#" target="_blank" title="#">我能让客服帮我注册成为会员吗？？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">合同签署</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
           <li><a href="#" target="_blank" title="#">付款方式有哪些？</a></li> 
           <li><a href="#" target="_blank" title="#">在线支付安全吗？</a></li> 
           <li><a href="#" target="_blank" title="#">为什么支付不成功？</a></li> 
           <li><a href="#" target="_blank" title="#">想要退款，应该怎么做？</a></li> 
           <li><a href="#" target="_blank" title="#">订单短信有什么用？二维码又是什么？</a></li> 
           <li><a href="#" target="_blank" title="#">怎么才能取票？在哪取票？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">联系与沟通</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
         <li><a href="#" target="_blank" title="#">我想咨询门票，应该怎么办？</a></li> 
         <li><a href="#" target="_blank" title="#">我有意见，在哪可以提？</a></li> 
         <li><a href="#" target="_blank" title="#">我想投诉，应该怎么反映？</a></li> 
         <li><a href="#" target="_blank" title="#">一日游定机票有折扣吗？</a></li> 
      </ul>
    </div>
    <div class="fn-clear"></div>
  </div>
</div>
<div class="blank10"></div>

