<!-- menu over -->
<div class="pageBody">
  <div class="blank8"></div>
  <div class="border5 register-box">
    <h2 class="title3"><b>注册一日游新会员</b></h2>
    <span class="register-box-right">已经有一日游账号？请<a href="#">直接登录</a></span>
    <div class="register-box-content">
      <div><img src="images/register.png" /></div>
      <div class="blank10"></div>
      <table align="center" width="860" cellpadding="0" cellspacing="0">
        <tr>
          <th width="100" valign="top" align="right"><span class="color7">*</span> 登录名：</th>
          <td><input class="input-text3" /><br />
            <em>4-16个字符，中英文均可，推荐使用中文名</em>
          </td>
        </tr>
        <tr>
          <th width="100" valign="top" align="right"><span class="color7">*</span> 设置密码：</th>
          <td><input class="input-text3" /><br />
            <em>6-16个字符，推荐使用英文字母加数字的组合密码</em>
          </td>
        </tr>
        <tr>
          <th width="100" valign="top" align="right"><span class="color7">*</span> 确认密码：</th>
          <td><input class="input-text3" /><br />
            <em>请再次输入密码</em>
          </td>
        </tr>
        <tr>
          <th width="100" valign="top" align="right"><span class="color7">*</span> 验证码：</th>
          <td><input class="input-text3" style="width:110px;" /><br />
            <em>请输入验证码</em>
          </td>
        </tr>
        <tr>
          <th width="100" valign="top" align="right">手机号码：</th>
          <td><input class="input-text3" /><br />
          </td>
        </tr>
        <tr>
          <th width="100" valign="top" align="right">邮箱：</th>
          <td><input class="input-text3" /><br />
          </td>
        </tr>
        <tr>
          <th width="100" valign="top" align="right"></th>
          <td><button class="button2"></button><br />
          </td>
        </tr>
      </table>
      <div class="blank10"></div>
      <div class="blank10"></div>
      <div class="blank10"></div>
    </div>
    <div class="register-yuan1"></div>
    <div class="register-yuan2"></div>
    <div class="register-yuan3"></div>
    <div class="register-yuan4"></div>
  </div>  
</div>
