<!-- menu over -->
<div class="pageBody">
  <div class="blank8"></div>
  <div class="border5 register-box">
    <div class="blank10"></div>
    <div align="center"><img src="../images/order1.png" /></div>
    <div class="blank10"></div>
    <div class="border6"></div>
    <div class="order-box">
      <h3 class="font14 paLeft10 color3"><b>产品信息</b></h3>
      <div class="blank8"></div>
      <table align="center"  width="100%" cellpadding="0" cellspacing="0" class="order-boxTable2">
        <tr>
          <th width="100" valign="middle" height="28" align="center">游玩日期</th>
          <th align="center">名称</th>
          <th width="100" align="center">门市价</th>
          <th width="100" align="center">一日游价</th>
          <th width="130" align="center">数量</th>
        </tr>
        <tr>
          <td width="100" valign="middle" height="30" align="center"><strong class="color1">2012-25-98</strong></td>
          <td align="center">【周边游】千岛湖，黄山三日游...（成人）</td>
          <td width="100" class="Fstyle1" align="center">¥800</td>
          <td width="100" align="center"><strong class="font14 color1">¥600</strong></td>
          <td width="130" align="center"><div style="width:130px; overflow:hidden;"><span class="btns">
                        <button class="button-add" type="button">-</button>&nbsp;<input class="input1">&nbsp;<button class="button-minus" type="button">+</button>
                  </span></div></td>
        </tr>
        <tr>
          <td width="100" valign="middle" height="30" align="center"><strong class="color1">2012-25-98</strong></td>
          <td align="center">【周边游】千岛湖，黄山三日游...（儿童）</td>
          <td width="100" class="Fstyle1" align="center">¥800</td>
          <td width="100" align="center"><strong class="font14 color1">¥600</strong></td>
          <td width="130" align="center"><div style="width:130px; overflow:hidden;"><span class="btns">
                        <button class="button-add" type="button">-</button>&nbsp;<input class="input1">&nbsp;<button class="button-minus" type="button">+</button>
                  </span></div></td>
        </tr>
      </table>
      <div class="blank10"></div>
      <div class="blank10"></div>
      <h3 class="font14 paLeft10 color3"><b>附加产品</b></h3>
      <div class="blank8"></div>
      <table align="center"  width="100%" cellpadding="0" cellspacing="0" class="order-boxTable2">
        <tr>
          <th valign="middle" height="28" align="left">名称</th>
          <th width="100" align="center">类型</th>
          <th width="180" align="center">接送日期</th>
          <th width="150" align="center">价格</th>
          <th width="150" align="center">操作</th>         
        </tr>
        <tr>
          <td valign="middle" height="30" align="left"><strong>机场接送</strong></td>
          <td width="100" align="center">5人座</td>
          <td width="180" align="center"><input type="text" class="input-text2"></td>
          <td width="150" align="center"><strong class="color1">¥600</strong></td>
          <td width="150" align="center"><button class="button5"></button></td>
        </tr>
      </table>
      <div class="blank10"></div>
      <div class="fn-right font14 li-height35 color3"><strong>订单支付金额：</strong><span class="font24">¥1136</span></div>
      <div class="fn-clear"></div>
    </div>
    <div class="border6"></div>
    <div class="blank10"></div>
    <div class="blank10"></div>
    <div class="blank10"></div>
    <div class="register-yuan1"></div>
    <div class="register-yuan2"></div>
    <div class="register-yuan3"></div>
    <div class="register-yuan4"></div>
  </div>
  <div class="blank10"></div>
  <div class="bgStyle2">
    <div class="i-box4 fn-left">
      <h2 class="title1">订购指南</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
         <li><a title="#" target="_blank" href="#">订购流程是怎么样的？</a></li> 
         <li><a title="#" target="_blank" href="#">订购时要注意什么？</a></li> 
         <li><a title="#" target="_blank" href="#">预订单是什么意思？</a></li> 
         <li><a title="#" target="_blank" href="#">想要修改订单，怎么操作？</a></li> 
         <li><a title="#" target="_blank" href="#">想要取消订单，应该怎么做？</a></li> 
         <li><a title="#" target="_blank" href="#">怎样代订机票？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">注册登录</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
        <li><a title="#" target="_blank" href="#">怎样才能成为一日游会员？ </a></li> 
        <li><a title="#" target="_blank" href="#">在哪登录会员帐号？</a></li> 
        <li><a title="#" target="_blank" href="#">如何修改我的帐号密码？ </a></li> 
        <li><a title="#" target="_blank" href="#">手机登录密码遗失，应该如何找回？</a></li> 
        <li><a title="#" target="_blank" href="#">我没注册过，为什么手机提示已注册？</a></li>  
        <li><a title="#" target="_blank" href="#">我能让客服帮我注册成为会员吗？？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">支付与取票</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
           <li><a title="#" target="_blank" href="#">付款方式有哪些？</a></li> 
           <li><a title="#" target="_blank" href="#">在线支付安全吗？</a></li> 
           <li><a title="#" target="_blank" href="#">为什么支付不成功？</a></li> 
           <li><a title="#" target="_blank" href="#">想要退款，应该怎么做？</a></li> 
           <li><a title="#" target="_blank" href="#">订单短信有什么用？二维码又是什么？</a></li> 
           <li><a title="#" target="_blank" href="#">怎么才能取票？在哪取票？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">联系与沟通</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
         <li><a title="#" target="_blank" href="#">我想咨询门票，应该怎么办？</a></li> 
         <li><a title="#" target="_blank" href="#">我有意见，在哪可以提？</a></li> 
         <li><a title="#" target="_blank" href="#">我想投诉，应该怎么反映？</a></li> 
         <li><a title="#" target="_blank" href="#">一日游定机票有折扣吗？</a></li> 
      </ul>
    </div>
    <div class="fn-clear"></div>
  </div>  
</div>
<!-- foot over -->
<script src="../js/text.js" type="text/javascript"></script>
