<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一日游-酒店订单填写完成</title>
<link href="../css/base.css" rel="stylesheet" type="text/css" />
<link href="../css/layout.css" rel="stylesheet" type="text/css" />
<script src="../js/jquery-1.6.2.min.js" type="text/javascript"></script>
</head>

<body>
<div id="site-nav">
  <div id="site-nav-bd">
    <p>欢迎来到一日游！请<a href="#" title="登录">登录</a>  ! <a href="#" title="免费注册">免费注册</a></p>
  </div>
</div>
<div class="blank10"></div>
<div class="masthead">
  <div class="logo fn-left"><a href="#" title="一日游">一日游</a></div>
  <div class="city-current fn-left"><strong>杭州站</strong> <i></i>
      <div class="cityAddress" style="display:none;">
        <ul>
          <li><a href="#" title="杭州站">杭州站</a></li>
          <li><a href="#" title="杭州站">上海站</a></li>
          <li><a href="#" title="杭州站">苏州站</a></li>
          <li><a href="#" title="杭州站">无锡站</a></li>
          <li><a href="#" title="杭州站">南京站</a></li>
        </ul>
      </div>
      <!--其它城市--> 
  </div>
  <div id="serch" class="fn-left">
    <div id="serch-bg">
      <div class="serch-bg-cont"><input class="s-input1" onblur="if(this.value==''){this.value='请输入目的地，关键词';}this.style.color='#999';" onclick="if(this.value=='请输入目的地，关键词'){this.value='';}this.style.color='#999';" value="请输入目的地，关键词" style="color: rgb(153, 153, 153);" /><a href="#" class="s-button1">搜索</a></div>
      
      <div id="serch-bg-left" class="fn-left"></div>
      <div id="serch-bg-right" class="fn-right"></div>
    </div>
    <p><strong>热门搜索：</strong><a href="#" title="厦门">厦门</a>  <a href="#" title="香港">香港</a>  <a href="#" title="迪拜">迪拜</a>  <a href="#" title="南京">南京</a>  <a href="#" title="苏州">苏州</a>  <a href="#" title="云南">云南</a>  <a href="#" title="成都">成都</a></p>
  </div>
  <div class="call fn-right">预定电话</div>
</div>
<div class="fn-clear"></div>
<div class="menu-nav">
  <div class="mastmenu">
    <div class="left-saixuan">
      <h3 id="j_titleBiao" class="titleBiao">杭州出发旅游 <i></i></h3>
      <div id="j_saixuanFenlei" class="saixuanFenlei" style="display: none">
        <dl class="dl1">
          <dt>杭州及周边热门景点</dt>
          <dd><a href="#" title="西湖十景">西湖十景</a></dd>
          <dd><a href="#" title="灵隐寺">灵隐寺</a></dd>
          <dd><a href="#" title="宋城">宋城</a></dd>
          <dd><a href="#" title="三谭印月">三谭印月</a></dd>
          <dd><a href="#" title="苏堤春晓">苏堤春晓</a></dd>
          <dd><a href="#" title="西塘水乡">西塘水乡</a></dd>
          <dd><a href="#" title="绍兴古城">绍兴古城</a></dd>
          <dd><a href="#" title="乌镇">乌镇</a></dd>
          <dd><a href="#" title="河坊街">河坊街</a></dd>
          <dd><a href="#" title="平湖秋月">平湖秋月</a></dd>
          <dd><a href="#" title="苏州留园">苏州留园</a></dd>
          <dd><a href="#" title="普陀山">普陀山</a></dd>
        </dl>
        <div class="fn-clear"></div>
        <dl class="dl2">
          <dt>更换出发地</dt>
          <dd><a href="#" title="杭州">杭州</a>  <a href="#" title="上海">上海</a>  <a href="#" title="苏州">苏州</a>  <a href="#" title="南京">南京</a>  <a href="#" title="北京">北京</a></dd>
        </dl>
      </div>
    </div>
    <ul id="menu">
      <li><a href="#" title="首页"><span>首页</span></a></li>
      <li><a href="#" title="一日游"><span>一日游</span></a></li>       
      <li><a href="#" title="超值酒店"><span>超值酒店</span></a></li>        
      <li><a href="#" title="旅游租车"><span>旅游租车</span></a></li>        
      <li><a href="#" title="自驾游门票"><span>自驾游门票</span></a></li>        
      <li><a href="#" title="周边旅游"><span>周边旅游</span></a></li> 
    </ul>  
  </div>
</div>
<!-- menu over -->
<div class="pageBody">
  <div class="blank8"></div>
  <div class="border5 register-box"> 
    <div class="blank10"></div>
    <div align="center"><img src="../images/order5.png" /></div>
    <div class="blank10"></div>
    <div class="border6"></div>
    <div class="order-box">
      <div class="order-box1 orderStyle1" style="height:335px;"> 
        <h3 class="register-box-title" style="margin:50px 0 0 260px;">订单提交成功！</h3>
        <p style="line-height:25px; padding:10px 0 0 260px;">我们将尽快确认资源，稍后客服将与您联系，请耐心等待<br />
您可以在 <a href="#"><b>我的订单</b></a> 中查看您的订单状态。</p>
      </div>
      <div class="blank10"></div>
      <div class="blank10"></div>

    </div>
    <div class="register-yuan1"></div>
    <div class="register-yuan2"></div>
    <div class="register-yuan3"></div>
    <div class="register-yuan4"></div>
  </div>
  <div class="blank10"></div>
  <div class="bgStyle2">
    <div class="i-box4 fn-left">
      <h2 class="title1">订购指南</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
         <li><a title="#" target="_blank" href="#">订购流程是怎么样的？</a></li> 
         <li><a title="#" target="_blank" href="#">订购时要注意什么？</a></li> 
         <li><a title="#" target="_blank" href="#">预订单是什么意思？</a></li> 
         <li><a title="#" target="_blank" href="#">想要修改订单，怎么操作？</a></li> 
         <li><a title="#" target="_blank" href="#">想要取消订单，应该怎么做？</a></li> 
         <li><a title="#" target="_blank" href="#">怎样代订机票？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">注册登录</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
        <li><a title="#" target="_blank" href="#">怎样才能成为一日游会员？ </a></li> 
        <li><a title="#" target="_blank" href="#">在哪登录会员帐号？</a></li> 
        <li><a title="#" target="_blank" href="#">如何修改我的帐号密码？ </a></li> 
        <li><a title="#" target="_blank" href="#">手机登录密码遗失，应该如何找回？</a></li> 
        <li><a title="#" target="_blank" href="#">我没注册过，为什么手机提示已注册？</a></li>  
        <li><a title="#" target="_blank" href="#">我能让客服帮我注册成为会员吗？？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">支付与取票</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
           <li><a title="#" target="_blank" href="#">付款方式有哪些？</a></li> 
           <li><a title="#" target="_blank" href="#">在线支付安全吗？</a></li> 
           <li><a title="#" target="_blank" href="#">为什么支付不成功？</a></li> 
           <li><a title="#" target="_blank" href="#">想要退款，应该怎么做？</a></li> 
           <li><a title="#" target="_blank" href="#">订单短信有什么用？二维码又是什么？</a></li> 
           <li><a title="#" target="_blank" href="#">怎么才能取票？在哪取票？</a></li> 
      </ul>
    </div>
    <div class="i-box4 fn-left">
      <h2 class="title1">联系与沟通</h2>
      <div class="blank10"></div>
      <ul class="list12-a">
         <li><a title="#" target="_blank" href="#">我想咨询门票，应该怎么办？</a></li> 
         <li><a title="#" target="_blank" href="#">我有意见，在哪可以提？</a></li> 
         <li><a title="#" target="_blank" href="#">我想投诉，应该怎么反映？</a></li> 
         <li><a title="#" target="_blank" href="#">一日游定机票有折扣吗？</a></li> 
      </ul>
    </div>
    <div class="fn-clear"></div>
  </div>  
</div>
<!-- 底部 -->
<div class="blank10"></div>
<!-- foot -->
<div id="foot">
<div class="blank10"></div>
<p><a href="#" target="_blank" title="关于我们">关于我们</a> | <a href="#" target="_blank" title="联系我们">联系我们</a> | <a href="#" target="_blank" title="支付方式">支付方式</a><br />
版权所有 浙ICP备10212438号<br /> 
地址: 杭州市莫干山路246号 <span class="paLeft10">电话: 0571-88468666</span>     <span class="paLeft10">经营许可证:L-ZJ00029</span>    <span class="paLeft10">免费咨询电话:400-886-9500</span><br />
Copyright © EuHangzhou.com. All Rights Reserved.<br />
  </p>
  <p><a href="#" target="_blank" title="经营性网站备案信息"><img src="../images/beian.png" alt="经营性网站备案信息" /></a><a href="#" target="_blank" title="不良信息举报中心"><img src="../images/jubao.png" alt="不良信息举报中心" /></a><a href="#" target="_blank" title="网络110报警服务"><img src="../images/baojin.png" alt="网络110报警服务" /></a><a href="#" target="_blank" title="网络工商"><img src="../images/wlgs.png" alt="网络工商" /></a></p>
  
</div>
<!-- foot over -->
<script src="../js/text.js" type="text/javascript"></script>
</body>
</html>
